@font-face {
  font-family: 'Ubuntu';
  font-style: italic;
  font-weight: 300;
  src: local('Ubuntu Light Italic'), local('Ubuntu-LightItalic'), url(https://fonts.gstatic.com/s/ubuntu/v12/4iCp6KVjbNBYlgoKejZftVyPN4Q.ttf) format('truetype');
}
@font-face {
  font-family: 'Ubuntu';
  font-style: italic;
  font-weight: 700;
  src: local('Ubuntu Bold Italic'), local('Ubuntu-BoldItalic'), url(https://fonts.gstatic.com/s/ubuntu/v12/4iCp6KVjbNBYlgoKejZPslyPN4Q.ttf) format('truetype');
}
@font-face {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 300;
  src: local('Ubuntu Light'), local('Ubuntu-Light'), url(https://fonts.gstatic.com/s/ubuntu/v12/4iCv6KVjbNBYlgoC1CzjsGyI.ttf) format('truetype');
}
@font-face {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 400;
  src: local('Ubuntu Regular'), local('Ubuntu-Regular'), url(https://fonts.gstatic.com/s/ubuntu/v12/4iCs6KVjbNBYlgoKfw7z.ttf) format('truetype');
}
@font-face {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 500;
  src: local('Ubuntu Medium'), local('Ubuntu-Medium'), url(https://fonts.gstatic.com/s/ubuntu/v12/4iCv6KVjbNBYlgoCjC3jsGyI.ttf) format('truetype');
}
@font-face {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 700;
  src: local('Ubuntu Bold'), local('Ubuntu-Bold'), url(https://fonts.gstatic.com/s/ubuntu/v12/4iCv6KVjbNBYlgoCxCvjsGyI.ttf) format('truetype');
}
@font-face {
  font-family: BebasBold;
  src: url('BebasBold.woff');
  font-weight: bold;
}
.init_class {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background: #fff;
  overflow-x: hidden;
}
html {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background: #fff;
  overflow-x: hidden;
  color: #fff;
  font-family: Ubuntu;
  font-weight: 400;
  letter-spacing: 0;
}
html .burger-menu-block {
  display: none;
}
html body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background: #fff;
  overflow-x: hidden;
  height: auto;
  opacity: 1;
  transition: opacity 0.3s ease-in-out;
}
html body.loading-dom {
  opacity: 0;
}
html body h1,
html body h2 {
  font-family: Ubuntu;
  text-align: center;
  font-size: 56px;
  letter-spacing: 0.04em;
  margin-bottom: 50px;
  line-height: 1;
}
html body h3 {
  font-family: Ubuntu;
  text-align: center;
  font-size: 40px;
  letter-spacing: 0.004em;
  margin-bottom: 30px;
  line-height: 1;
}
html body .glow-block {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  position: absolute;
  right: 0;
  top: 0;
  opacity: 0.5;
  background: #8474f0a8;
  box-shadow: 10px 10px 200px 150px #8474f0b0, 0 0 200px 150px #8474f000;
}
html body .bubbles-block {
  width: 100%;
  height: 100%;
  position: absolute;
  overflow: hidden;
}
html body .bubbles-block > div {
  border-radius: 100%;
  position: absolute;
  z-index: 0;
}
html body .bubbles-block .bubble_size_large {
  width: 110px;
  height: 110px;
}
html body .bubbles-block .bubble_size_medium {
  width: 65px;
  height: 65px;
}
html body .bubbles-block .bubble_size_medium- {
  width: 50px;
  height: 50px;
}
html body .bubbles-block .bubble_size_small {
  width: 30px;
  height: 30px;
}
html body .bubbles-block .bubble_effect_blur {
  filter: blur(3px);
}
html body .bubbles-block .bubble_color_dark {
  background-image: linear-gradient(100deg, #26dae6 10%, #03b6fe 50%);
}
html body .bubbles-block .bubble_color_bright {
  background-image: linear-gradient(100deg, #e9fbfc 10%, #e6f8ff 50%);
}
html body .order-button-block {
  height: 48px;
  padding: 0 25px;
  border-radius: 10px;
  font-size: 16px;
  letter-spacing: 0.06em;
  font-weight: 700;
  color: #f3b715;
  outline: none;
  background-color: inherit;
  cursor: pointer;
  border: 2px solid #f3b715;
  transition: all 0.15s ease-in-out;
}
html body .order-button-block.active {
  color: #fff;
  background-image: linear-gradient(45deg, #e8c720 0%, #fda80b 100%);
  box-shadow: 0 4px 9px 1px rgba(39, 39, 39, 0.2);
  border: none;
}
html body .order-button-block:hover {
  background-image: linear-gradient(90deg, #fda80b 0%, #fd7203 100%);
  color: #fff;
}
html body .order-button-block:active {
  background-image: linear-gradient(0deg, #fda80b 0%, #fd7203 100%);
  outline: none;
  color: #ffffff;
}
html body .rectangle_effect {
  position: absolute;
  width: 100%;
  height: 162px;
  top: -124px;
  left: 128px;
  background-color: #cddbfd;
  transform: rotate(4deg);
  z-index: -1;
}
html body .rectangle_effect:before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  top: -11px;
  right: 119px;
  background-color: #aac3fb;
  transform: rotate(-2deg);
  z-index: -2;
}
html body .rectangle_effect_reverse {
  position: absolute;
  width: 100%;
  height: 162px;
  bottom: -145px;
  left: -14px;
  background: #ddf9fb;
  transform: rotate(4deg);
  z-index: -1;
}
html body .rectangle_effect_reverse:before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  top: 5px;
  right: -10px;
  transform: rotate(-2deg);
  background: #a7f1f4;
  z-index: -2;
}
html body .circles-effect-block {
  position: absolute;
  z-index: 0;
}
html body .circles-effect-block > div {
  opacity: 0.1;
  box-shadow: 0px 4px 9.1px 0.9px rgba(39, 39, 39, 0.1);
  border-radius: 50%;
  background: #fff;
  position: absolute;
}
html body .circles-effect-block > div:first-child {
  top: -130px;
  left: -250px;
  width: 679px;
  height: 679px;
}
html body .circles-effect-block > div:nth-child(2) {
  width: 534px;
  height: 534px;
  left: -178px;
  top: -58px;
  z-index: 9;
}
html body .circles-effect-block > div:last-child {
  width: 380px;
  height: 380px;
  left: -104px;
  top: 14px;
  z-index: 99;
}
html body .crossed-rectangles-effect {
  position: absolute;
  width: 100%;
  height: 100%;
  background: #dcefff;
  opacity: 0.5;
  transform: skewY(-1deg);
  z-index: -1;
}
html body .crossed-rectangles-effect:before,
html body .crossed-rectangles-effect:after {
  content: '';
  position: absolute;
  width: inherit;
  height: inherit;
  background: #dcefff;
  opacity: 0.5;
  transform: skewY(-2deg);
}
html body .crossed-rectangles-effect:before {
  transform: skewY(2deg);
}
html body .dots-effect-block {
  position: absolute;
  width: 5px;
  height: 5px;
  top: 7px;
  left: -15px;
  background: #fbab0d;
  border-radius: 50%;
}
html body .dots-effect-block:before,
html body .dots-effect-block:after {
  content: '';
  display: block;
  position: absolute;
  width: inherit;
  height: inherit;
  left: -10px;
  background: inherit;
  border-radius: inherit;
  opacity: 0.6;
}
html body .dots-effect-block:before {
  opacity: 0.3;
  left: -20px;
}
html body .html-logo-block {
  position: absolute;
  max-width: 80px;
  z-index: 99;
}
html body .html-logo-block span {
  display: inline-block;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  border: 5px solid #f90583;
  margin: 1px 3px;
}
html body .html-logo-block span:last-child {
  border-color: #4797d2;
}
html body .html-logo-block span:nth-child(2) {
  border-color: #5d9d73;
}
html body .html-logo-block span:nth-child(3) {
  border-color: #ffc500;
}
html body .thumb-block {
  display: inline-block;
  position: relative;
  width: 38px;
  height: 38px;
  top: -8px;
  margin-right: 25px;
  text-align: center;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 50%;
}
html body .thumb-block:before {
  content: '';
  position: absolute;
  width: 54px;
  height: 54px;
  top: -8px;
  background: rgba(255, 255, 255, 0.1);
  left: -8px;
  border-radius: 50%;
}
html body .thumb-block img {
  position: relative;
  top: 9px;
}
html body .play-button-block {
  position: absolute;
  width: 100%;
  top: 155px;
  text-align: center;
  color: #fff;
  cursor: pointer;
  font-size: 18px;
  z-index: 99;
}
html body .play-button-block span {
  display: inline-block;
  position: relative;
  width: 48px;
  height: 48px;
  top: 15px;
  margin-right: 15px;
  border-radius: 50%;
  background: #fff;
  box-shadow: 0 0 5px 3px rgba(255, 255, 255, 0.2), 0 0 10px 3px rgba(253, 168, 11, 0.6), 0 0 10px 1px rgba(0, 0, 0, 0.4), 0 0 15px 5px rgba(255, 255, 255, 0.1);
}
html body .play-button-block span .play-button-block__circle {
  position: absolute;
  width: 62px;
  height: 62px;
  left: -8px;
  top: -8px;
  opacity: 0.6;
  border-radius: 100%;
  border: 1px solid #fff;
}
html body .play-button-block span .play-button-block__circle:before {
  content: "";
  position: absolute;
  width: 74px;
  height: 74px;
  left: -7px;
  top: -7px;
  border-radius: 100%;
  opacity: 0.65;
  border: 1px solid #fff;
}
html body .play-button-block span .tes-block {
  left: -7px;
  top: -7px;
  width: 82px;
  height: 82px;
}
html body .play-button-block span .tes-block:before {
  left: -8px;
  top: -8px;
  width: 96px;
  height: 96px;
}
html body .play-button-block span .vid-block {
  left: -8px;
  top: -8px;
  width: 102px;
  height: 102px;
}
html body .play-button-block span .vid-block:before {
  left: -10px;
  top: -10px;
  width: 121px;
  height: 121px;
}
html body .play-button-block span:before,
html body .play-button-block span:after {
  content: '';
  position: absolute;
  display: block;
  width: 15px;
  height: 15px;
  background-image: linear-gradient(0deg, #e8c720 0%, #fda80b 100%);
  top: 17px;
  left: 14px;
  transform: rotate(45deg);
}
html body .play-button-block span:after {
  width: 15px;
  height: 25px;
  left: 5px;
  top: 10px;
  background-image: none;
  background: #fff;
  transform: rotate(0);
}
html body .play-button-block p {
  display: inline-block;
}
html body .close-video-block {
  position: fixed;
  width: 100%;
  background: rgba(0, 0, 0, 0.6);
  height: 100%;
  top: 0;
  z-index: 9999;
  opacity: 0;
  pointer-events: none;
  transition: all 0.15s ease-in-out;
}
html body .close-video-block .close-video-block__button {
  font-size: 16px;
  letter-spacing: 0.06em;
  font-weight: 700;
  outline: none;
  cursor: pointer;
  position: absolute;
  border: 2px solid #fbab0d;
  color: #fbab0d;
  border-radius: 10px;
  padding: 15px 20px;
  bottom: 6%;
  font-family: Ubuntu;
  left: 50%;
  transform: translateX(-50%);
}
html body .close-video-block .close-video-block__button:hover {
  background-image: linear-gradient(90deg, #fda80b 0%, #fd7203 100%);
  color: #fff;
}
html body .close-video-block .close-video-block__button:active {
  background-image: linear-gradient(0deg, #fda80b 0%, #fd7203 100%);
  outline: none;
  color: #ffffff;
}
html body .break-line-block {
  width: 360px;
  height: 1px;
  background: #d7d7d7;
  margin: 0 auto;
  border-radius: 1px;
}
html body .paired-bubbles-effect-block-rotation {
  transform: rotateY(180deg);
}
html body .paired-bubbles-effect-block {
  z-index: 0;
}
html body .paired-bubbles-effect-block .paired-bubbles__purple-bubbles {
  top: -12px;
  left: 147px;
  width: 65px;
  height: 65px;
  background: #eceff7;
  position: absolute;
  border-radius: 100%;
}
html body .paired-bubbles-effect-block .paired-bubbles__purple-bubbles:before {
  top: 77px;
  left: -31px;
  content: "";
  width: 20px;
  height: 20px;
  background: #eceff7;
  position: absolute;
  border-radius: 100%;
}
html body .paired-bubbles-effect-block .paired-bubbles__blue-bubbles {
  top: 49px;
  left: 188px;
  width: 90px;
  height: 90px;
  position: absolute;
  border-radius: 100%;
  background: #eaf5f9;
}
html body .paired-bubbles-effect-block .paired-bubbles__blue-bubbles:before {
  top: -43px;
  left: 75px;
  content: "";
  width: 25px;
  height: 25px;
  position: absolute;
  border-radius: 100%;
  background: #eaf5f9;
}
html body .paired-bubbles-effect-block-rotation2 {
  transform: rotate(180deg);
}
html body .paired-bubbles-effect-block-rotation2 .paired-bubbles__purple-bubbles {
  top: -104px;
  left: 121px;
  width: 65px;
  height: 65px;
  background: #eceff7;
  position: absolute;
  border-radius: 100%;
}
html body .paired-bubbles-effect-block-rotation2 .paired-bubbles__purple-bubbles:before {
  top: 84px;
  left: 11px;
  content: "";
  width: 20px;
  height: 20px;
  background: #eceff7;
  position: absolute;
  border-radius: 100%;
}
html body .paired-bubbles-effect-block-rotation2 .paired-bubbles__blue-bubbles {
  top: -90px;
  left: 188px;
  width: 90px;
  height: 90px;
  position: absolute;
  border-radius: 100%;
  background: #eaf5f9;
}
html body .paired-bubbles-effect-block-rotation2 .paired-bubbles__blue-bubbles:before {
  top: -55px;
  left: 41px;
  content: "";
  width: 25px;
  height: 25px;
  background: #eaf5f9;
  position: absolute;
  border-radius: 100%;
}
html body .circles-effect {
  position: absolute;
  height: 200px;
  width: 200px;
  top: -49px;
  left: 64px;
  border-radius: 100%;
  border: 2px solid #e2effc;
  opacity: 1;
  z-index: -1;
}
html body .circles-effect:before {
  content: '';
  position: absolute;
  opacity: 0.25;
  height: 370px;
  width: 370px;
  top: -80px;
  left: -80px;
  border-radius: 100%;
  border: 2px solid #e2effc;
}
html body .circles-effect:after {
  content: '';
  position: absolute;
  height: 285px;
  width: 285px;
  top: -41px;
  left: -41px;
  border-radius: 100%;
  border: 2px solid #e2effc;
  opacity: 0.5;
}
html body .circles-effect .circles-effect__dot {
  position: absolute;
  color: #e6f1fc;
  font-size: 70px;
}
html body .circles-effect .circles-effect__dot:nth-child(1) {
  top: -98px;
  left: 129px;
}
html body .circles-effect .circles-effect__dot:nth-child(2) {
  top: 121px;
  left: -71px;
  opacity: 0.5;
}
html body .circles-effect .circles-effect__dot:nth-child(3) {
  top: 149px;
  left: 1px;
}
html body .circles-effect .circles-effect__dot:nth-child(4) {
  top: -40px;
  left: 27px;
}
html body .circles-effect.second-circles-effect {
  top: 21px;
  left: 69px;
  width: 235px;
  height: 235px;
}
html body .circles-effect.second-circles-effect:before {
  width: 405px;
  height: 405px;
}
html body .circles-effect.second-circles-effect:after {
  width: 320px;
  height: 320px;
}
html body .circles-effect.second-circles-effect .circles-effect__dot:nth-child(1) {
  top: -72px;
  left: 207px;
}
html body .circles-effect.second-circles-effect .circles-effect__dot:nth-child(2) {
  top: 193px;
  left: 200px;
  opacity: 1;
}
html body .circles-effect.second-circles-effect .circles-effect__dot:nth-child(3) {
  top: -42px;
  left: -60px;
}
html body .circles-effect.second-circles-effect .circles-effect__dot:nth-child(4) {
  display: none;
}
html body .required::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: #B71C1C;
}
html body .required::-moz-placeholder {
  /* Firefox 19+ */
  color: #B71C1C;
}
html body .required:-ms-input-placeholder {
  /* IE 10+ */
  color: #B71C1C;
}
html body .required:-moz-placeholder {
  /* Firefox 18- */
  color: #B71C1C;
}
html body .navigation-block {
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 99999;
  transition: all 0.15s ease-in-out;
}
html body .navigation-block > div {
  display: flex;
  width: 100%;
  height: 110px;
  max-width: 1140px;
  align-items: center;
  padding: 0 15px;
  margin: 0 auto;
}
html body .navigation-block > div .bubbles-block {
  overflow: visible;
}
html body .navigation-block > div .bubbles-block > div {
  z-index: -1;
}
html body .navigation-block > div .bubbles-block > div:first-child {
  top: -66px;
  left: -212px;
}
html body .navigation-block > div .bubbles-block > div:nth-child(2) {
  top: 51px;
  left: 422px;
}
html body .navigation-block > div .bubbles-block > div:last-child {
  top: 80px;
  left: 1100px;
}
html body .navigation-block > div .navigation-block__logo {
  z-index: 9;
}
html body .navigation-block > div .navigation-block__logo a {
  display: block;
  text-decoration: none;
  color: white;
}
html body .navigation-block > div .navigation-block__logo a .navigation-block__logo__image {
  font-size: 14px;
}
html body .navigation-block > div .navigation-block__logo a .navigation-block__logo__image img {
  width: 150px;
}
html body .navigation-block > div .navigation-block__logo a .navigation-block__logo__image p {
  margin: 0;
  padding: 0;
}
html body .navigation-block > div .navigation-block__links {
  display: flex;
  margin-left: 125px;
  text-align: right;
  font-size: 18px;
  flex-grow: 1;
  align-items: center;
  justify-content: space-between;
  z-index: 999;
}
html body .navigation-block > div .navigation-block__links a {
  color: inherit;
  text-decoration: none;
  transition: all 0.15s ease-in-out;
}
html body .navigation-block > div .navigation-block__links a:hover {
  color: #fbab0d;
}
html body .navigation-block > div .navigation-block__links .order-button-block {
  margin-left: 15px;
}
html body .navigation-block.scrolled {
  background-image: linear-gradient(90deg, #28e3e3 0%, #5b84f8 100%);
  box-shadow: 0 4px 9px 1px rgba(42, 42, 42, 0.2);
}
html body .navigation-block.scrolled .order-button-block {
  color: #fff;
  background-image: linear-gradient(45deg, #e8c720 0%, #fda80b 100%);
  box-shadow: 0 4px 9px 1px rgba(39, 39, 39, 0.2);
}
html body .navigation-block.scrolled .order-button-block:hover {
  background-image: linear-gradient(90deg, #fda80b 0%, #fd7203 100%);
  color: #fff;
}
html body .navigation-block.scrolled .order-button-block:active {
  background-image: linear-gradient(0deg, #fda80b 0%, #fd7203 100%);
  outline: none;
  color: #ffffff;
}
html body header {
  background-image: linear-gradient(90deg, #28e3e3 0%, #5b84f8 100%);
}
html body main {
  min-height: 500px;
  width: 100%;
  max-width: 750px;
  margin: 0 auto;
  font-size: 18px;
  font-weight: 300;
  letter-spacing: 0.015em;
  line-height: 24px;
  color: #222129;
  padding-top: 150px;
  margin-bottom: 40px;
}
html body img {
  max-width: 100%;
}
html body main > * {
  padding-left: 10px;
  padding-right: 10px;
}
html body main > img {
  padding-left: 0px;
  padding-right: 0px;
}
html body a {
  font-weight: bold;
}
html body .footer-block {
  background: linear-gradient(90deg, #049999 30%, #0e3dc1 100%);
}
html body .footer-block .footer-block__footer-wraper {
  display: flex;
  height: 335px;
  flex-flow: row wrap;
  max-width: 1140px;
  margin: 0 auto;
}
html body .footer-block .footer-block__footer-wraper .footer-block__flex-section {
  display: flex;
  justify-content: space-between;
  width: 400px;
}
html body .footer-block .footer-block__footer-wraper .footer-block__flex-section:last-child {
  flex-grow: 1;
  justify-content: flex-end;
}
html body .footer-block .footer-block__footer-wraper .footer-block__flex-section a {
  display: block;
  text-decoration: none;
  color: inherit;
  font-weight: 300;
  letter-spacing: 0.015em;
  margin: 20px 0;
  transition: all 0.15s ease-in-out;
}
html body .footer-block .footer-block__footer-wraper .footer-block__flex-section a:hover {
  color: #fbab0d;
}
html body .footer-block .footer-block__footer-wraper .footer-block__flex-section input {
  display: block;
  width: 264px;
  height: 50px;
  border: 1px solid #ebebeb;
  border-radius: 10px;
  background-color: #ffffff;
  box-shadow: 0 4px 9px 1px rgba(39, 39, 39, 0.1);
  padding: 0 20px;
  margin: 20px 0;
  outline: none;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.06em;
}
html body .footer-block .footer-block__footer-wraper .footer-block__flex-section input.required {
  border-color: #EF5350;
}
html body .footer-block .footer-block__footer-wraper .footer-block__flex-section button {
  display: block;
}
html body .footer-block .footer-block__footer-wraper .footer-block__flex-section h4 {
  margin: 65px 0 0;
  font-size: 20px;
}
html body .footer-block .footer-block__footer-wraper .footer-block__flex-section .footer-block__connect {
  min-width: 225px;
  margin-right: 70px;
}
html body .footer-block .footer-block__footer-wraper .footer-block__flex-section .footer-block__connect .footer-block__connect__icons {
  margin-top: 15px;
}
html body .footer-block .footer-block__footer-wraper .footer-block__flex-section .footer-block__connect .footer-block__connect__icons a {
  display: inline-block;
  height: 30px;
  margin: 0;
  cursor: pointer;
  padding: 0 15px;
  opacity: 0.6;
}
html body .footer-block .footer-block__footer-wraper .footer-block__flex-section .footer-block__connect .footer-block__connect__icons a:first-child {
  padding-left: 0;
}
html body .footer-block .footer-block__footer-wraper .footer-block__flex-section .footer-block__connect .footer-block__connect__icons a:hover {
  opacity: 1;
}
html body .footer-block .footer-block__footer-wraper .footer-block__flex-section .footer-block__connect .footer-block__connect__icons a span {
  display: inline-block;
  width: 22px;
  height: 30px;
  background: url('homepage_images/sprite.svg');
  background-size: 398px 58px;
}
html body .footer-block .footer-block__footer-wraper .footer-block__flex-section .footer-block__connect .footer-block__connect__icons a span.in {
  background: url('homepage_images/linkedin.svg');
  background-position: -205px -201px;
  background-size: 430px 430px;
}
html body .footer-block .footer-block__footer-wraper .footer-block__flex-section .footer-block__connect .footer-block__connect__icons a span.fb {
  background-position: 716px -15px;
}
html body .footer-block .footer-block__footer-wraper .footer-block__flex-section .footer-block__connect .footer-block__connect__icons a span.tw {
  background-position: 289px -15px;
}
html body .footer-block .footer-block__footer-wraper .footer-block__flex-section .footer-block__connect .footer-block__connect__icons a span.pint {
  background-position: -34px -15px;
}
html body .footer-block .footer-block__footer-wraper .footer-block__flex-section .footer-block__connect .footer-block__connect__icons a span.inst {
  background-position: -6px -16px;
}
html body .footer-block .footer-block__footer-wraper .footer-block__flex-section .footer-block__connect .footer-block__connect__icons a:not(:last-child) {
  line-height: 36px;
}
html body .footer-block .footer-block__footer-wraper .footer-block__flex-section .footer-block__connect p {
  margin-top: 20px;
  font-size: 12px;
}
@media screen and (min-width: 1024px) and (max-width: 1175px) {
  html body .navigation-block .navigation-block__links .order-button-block {
    margin: 0 30px;
  }
  html body main {
    min-height: 500px;
    width: 100%;
    max-width: 750px;
    margin: 0 auto;
    font-size: 18px;
    font-weight: 300;
    letter-spacing: 0.015em;
    line-height: 24px;
    color: #222129;
    padding-top: 150px;
    margin-bottom: 40px;
  }
  html body .footer-block .footer-block__footer-wraper .footer-block__flex-section .footer-block__connect {
    min-width: 275px;
    margin-right: 40px;
  }
  html body .footer-block .footer-block__footer-wraper .footer-block__flex-section {
    width: 350px;
  }
}
@media screen and (max-width: 1024px) {
  html body header#nav > div {
    justify-content: space-around;
  }
  html body header#nav ul {
    display: none;
  }
  html body header#nav nav {
    display: block;
    margin: 0;
    z-index: 9;
  }
  html body header#nav a {
    display: none;
  }
  html body header#nav button {
    margin-left: 0;
    margin-right: 145px;
  }
  html body header#nav .burger-menu-block {
    display: block;
    cursor: pointer;
  }
  html body header#nav .burger-menu-block .burger-menu-block__icon {
    position: absolute;
    top: 30px;
    right: 38px;
    color: #fff;
    z-index: 10;
  }
  html body header#nav .burger-menu-block .burger-menu-block__icon img {
    width: 48px;
  }
  html body header#nav .burger-menu-block .burger-menu-block__icon img.close-burger {
    display: none;
  }
  html body header#nav.burger-on ul {
    display: block;
    list-style-type: none;
    padding: 0;
    margin-bottom: 48px;
  }
  html body header#nav.burger-on ul li {
    padding: 12px 50px;
  }
  html body header#nav.burger-on .navigation-block__logo {
    color: #222129;
    z-index: 9;
  }
  html body header#nav.burger-on .navigation-block__logo a {
    color: black;
  }
  html body header#nav.burger-on .navigation-block__logo:before {
    content: 'AIRO';
    color: inherit;
    font-size: 50px;
    position: absolute;
    font-weight: 300;
    line-height: 32px;
    letter-spacing: 0.008em;
  }
  html body header#nav.burger-on .burger-menu-block {
    position: absolute;
    width: 100%;
    right: 0;
    top: 0;
    background: #fff;
    padding-top: 110px;
    color: #222129;
    box-shadow: -5px 0 20px 0 #222129;
  }
  html body header#nav.burger-on .burger-menu-block a {
    display: block;
    text-decoration: none;
    color: #222129;
    transition: all 0.15s ease-in-out;
  }
  html body header#nav.burger-on .burger-menu-block a:hover {
    color: #fbab0d;
  }
  html body header#nav.burger-on .burger-menu-block .burger-menu-block__icon {
    top: 40px;
    right: 45px;
  }
  html body header#nav.burger-on .burger-menu-block .burger-menu-block__icon img {
    width: 30px;
  }
  html body header#nav.burger-on .burger-menu-block .burger-menu-block__icon img.burger {
    display: none;
  }
  html body header#nav.burger-on .burger-menu-block .burger-menu-block__icon img.close-burger {
    display: block;
  }
  html body header#nav div .navigation-block__logo a {
    display: block;
  }
  html body main {
    min-height: 500px;
    width: 100%;
    max-width: 750px;
    margin: 0 auto;
    font-size: 18px;
    font-weight: 300;
    letter-spacing: 0.015em;
    line-height: 24px;
    color: #222129;
    padding-top: 150px;
    margin-bottom: 40px;
  }
  html body .footer-block {
    background: linear-gradient(180deg, #049999 30%, #0e3dc1 100%);
  }
  html body .footer-block .footer-block__footer-wraper {
    align-items: center;
    text-align: center;
    flex-flow: column;
    height: auto;
  }
  html body .footer-block .footer-block__footer-wraper .footer-block__flex-section.footer-block__flex-section_flex-flow_reverse {
    flex-flow: column-reverse;
  }
  html body .footer-block .footer-block__footer-wraper .footer-block__flex-section.footer-block__flex-section_flex-flow_reverse h4 {
    margin: 25px 0 0;
  }
  html body .footer-block .footer-block__footer-wraper .footer-block__flex-section h4 {
    margin: 50px 0 0;
  }
  html body .footer-block .footer-block__footer-wraper .footer-block__flex-section .footer-block__form form {
    display: flex;
    flex-flow: column;
    align-items: center;
  }
  html body .footer-block .footer-block__footer-wraper .footer-block__flex-section .footer-block__form form input {
    margin: 10px 0;
  }
  html body .footer-block .footer-block__footer-wraper .footer-block__flex-section .footer-block__form form button {
    margin-top: 10px;
  }
  html body .footer-block .footer-block__footer-wraper .footer-block__flex-section .footer-block__connect {
    margin-right: 0;
  }
  html body .footer-block .footer-block__footer-wraper .footer-block__flex-section .footer-block__connect h4 {
    margin-top: 53px;
  }
}
