@font-face {
  font-family: 'Ubuntu';
  font-style: italic;
  font-weight: 300;
  src: local('Ubuntu Light Italic'), local('Ubuntu-LightItalic'), url(https://fonts.gstatic.com/s/ubuntu/v12/4iCp6KVjbNBYlgoKejZftVyPN4Q.ttf) format('truetype');
}
@font-face {
  font-family: 'Ubuntu';
  font-style: italic;
  font-weight: 700;
  src: local('Ubuntu Bold Italic'), local('Ubuntu-BoldItalic'), url(https://fonts.gstatic.com/s/ubuntu/v12/4iCp6KVjbNBYlgoKejZPslyPN4Q.ttf) format('truetype');
}
@font-face {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 300;
  src: local('Ubuntu Light'), local('Ubuntu-Light'), url(https://fonts.gstatic.com/s/ubuntu/v12/4iCv6KVjbNBYlgoC1CzjsGyI.ttf) format('truetype');
}
@font-face {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 400;
  src: local('Ubuntu Regular'), local('Ubuntu-Regular'), url(https://fonts.gstatic.com/s/ubuntu/v12/4iCs6KVjbNBYlgoKfw7z.ttf) format('truetype');
}
@font-face {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 500;
  src: local('Ubuntu Medium'), local('Ubuntu-Medium'), url(https://fonts.gstatic.com/s/ubuntu/v12/4iCv6KVjbNBYlgoCjC3jsGyI.ttf) format('truetype');
}
@font-face {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 700;
  src: local('Ubuntu Bold'), local('Ubuntu-Bold'), url(https://fonts.gstatic.com/s/ubuntu/v12/4iCv6KVjbNBYlgoCxCvjsGyI.ttf) format('truetype');
}
@font-face {
  font-family: BebasBold;
  src: url('BebasBold.woff');
  font-weight: bold;
}
.init_class {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  background: #fff;
}
.disabled {
  opacity: 0.3;
}
html {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  background: #fff;
  color: #fff;
  font-family: Ubuntu;
  font-weight: 400;
  letter-spacing: 0;
}
html body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  background: #fff;
  height: auto;
  opacity: 1;
  transition: opacity 0.3s ease-in-out;
}
html body.loading-dom {
  opacity: 0;
}
html body .burger-menu-block {
  display: none;
}
html body h1,
html body h2 {
  font-family: BebasBold;
}
html body .glow-block {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  position: absolute;
  right: 0;
  top: 0;
  opacity: 0.5;
  background: #8474f0a8;
  box-shadow: 10px 10px 200px 150px #8474f0b0, 0 0 200px 150px #8474f000;
}
html body .arrow-holder {
  position: absolute;
  width: 50px;
  height: 50px;
  border-radius: 100%;
  border: 1px solid #a7a7a7;
  z-index: 1;
  display: flex;
  justify-content: center;
}
html body .arrow-holder:hover {
  cursor: pointer;
}
html body .arrow-holder img {
  object-fit: contain;
}
html body #leftArrow {
  transform: rotate(180deg);
}
html body .bubbles-block {
  width: 100%;
  height: 100%;
  position: absolute;
  overflow: hidden;
}
html body .bubbles-block > div {
  border-radius: 100%;
  position: absolute;
  z-index: 0;
}
html body .bubbles-block .bubble_size_large {
  width: 110px;
  height: 110px;
}
html body .bubbles-block .bubble_size_medium {
  width: 65px;
  height: 65px;
}
html body .bubbles-block .bubble_size_medium- {
  width: 50px;
  height: 50px;
}
html body .bubbles-block .bubble_size_small {
  width: 30px;
  height: 30px;
}
html body .bubbles-block .bubble_effect_blur {
  filter: blur(3px);
}
html body .bubbles-block .bubble_color_dark {
  background-image: linear-gradient(100deg, #26dae6 10%, #03b6fe 50%);
}
html body .bubbles-block .bubble_color_bright {
  background-image: linear-gradient(100deg, #e9fbfc 10%, #e6f8ff 50%);
}
html body .pagination-holder {
  display: flex;
  justify-content: left;
  color: #a7a7a7;
  font-size: 18px;
  letter-spacing: 0.015em;
  line-height: 14.33px;
}
html body .pagination-holder #leftArrow,
html body .pagination-holder #leftArrow2 {
  transform: rotate(180deg);
}
html body .pagination-holder .arrow-holder {
  position: absolute;
  width: 50px;
  height: 50px;
  border-radius: 100%;
  border: 1px solid #a7a7a7;
  z-index: 1;
  display: flex;
  justify-content: center;
}
html body .pagination-holder .arrow-holder:hover {
  cursor: pointer;
}
html body .pagination-holder .arrow-holder img {
  object-fit: contain;
}
html body .order-button-block {
  height: 48px;
  padding: 0 25px;
  border-radius: 10px;
  font-size: 16px;
  letter-spacing: 0.06em;
  font-weight: 700;
  color: #f3b715;
  outline: none;
  background-color: inherit;
  cursor: pointer;
  border: 2px solid #f3b715;
  transition: all 0.15s ease-in-out;
}
html body .order-button-block.active {
  color: #fff;
  background-image: linear-gradient(45deg, #e8c720 0%, #fda80b 100%);
  box-shadow: 0 4px 9px 1px rgba(39, 39, 39, 0.2);
  border: none;
}
html body .order-button-block:hover {
  background-image: linear-gradient(90deg, #fda80b 0%, #fd7203 100%);
  color: #fff;
}
html body .order-button-block:active {
  background-image: linear-gradient(0deg, #fda80b 0%, #fd7203 100%);
  outline: none;
  color: #ffffff;
}
html body .rectangle_effect {
  position: absolute;
  width: 100%;
  height: 162px;
  top: -124px;
  left: 128px;
  background-color: #cddbfd;
  transform: rotate(4deg);
  z-index: -1;
}
html body .rectangle_effect:before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  top: -11px;
  right: 119px;
  background-color: #aac3fb;
  transform: rotate(-2deg);
  z-index: -2;
}
html body .rectangle_effect_reverse {
  position: absolute;
  width: 100%;
  height: 162px;
  bottom: -145px;
  left: -14px;
  background: #ddf9fb;
  transform: rotate(4deg);
  z-index: -1;
}
html body .rectangle_effect_reverse:before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  top: 5px;
  right: -10px;
  transform: rotate(-2deg);
  background: #a7f1f4;
  z-index: -2;
}
html body .circles-effect-block {
  position: absolute;
  z-index: 0;
}
html body .circles-effect-block > div {
  opacity: 0.1;
  box-shadow: 0px 4px 9.1px 0.9px rgba(39, 39, 39, 0.1);
  border-radius: 50%;
  background: #fff;
  position: absolute;
}
html body .circles-effect-block > div:first-child {
  top: -130px;
  left: -250px;
  width: 679px;
  height: 679px;
}
html body .circles-effect-block > div:nth-child(2) {
  width: 534px;
  height: 534px;
  left: -178px;
  top: -58px;
  z-index: 9;
}
html body .circles-effect-block > div:last-child {
  width: 380px;
  height: 380px;
  left: -104px;
  top: 14px;
  z-index: 99;
}
html body .crossed-rectangles-effect {
  position: absolute;
  width: 100%;
  height: 100%;
  background: #dcefff;
  opacity: 0.5;
  transform: skewY(-1deg);
  z-index: -1;
}
html body .crossed-rectangles-effect:before,
html body .crossed-rectangles-effect:after {
  content: '';
  position: absolute;
  width: inherit;
  height: inherit;
  background: #dcefff;
  opacity: 0.5;
  transform: skewY(-2deg);
}
html body .crossed-rectangles-effect:before {
  transform: skewY(2deg);
}
html body .dots-effect-block {
  position: absolute;
  width: 5px;
  height: 5px;
  top: 7px;
  left: -15px;
  background: #fbab0d;
  border-radius: 50%;
}
html body .dots-effect-block:before,
html body .dots-effect-block:after {
  content: '';
  display: block;
  position: absolute;
  width: inherit;
  height: inherit;
  left: -10px;
  background: inherit;
  border-radius: inherit;
  opacity: 0.6;
}
html body .dots-effect-block:before {
  opacity: 0.3;
  left: -20px;
}
html body .html-logo-block {
  position: absolute;
  max-width: 80px;
  z-index: 99;
}
html body .html-logo-block span {
  display: inline-block;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  border: 5px solid #f90583;
  margin: 1px 3px;
}
html body .html-logo-block span:last-child {
  border-color: #4797d2;
}
html body .html-logo-block span:nth-child(2) {
  border-color: #5d9d73;
}
html body .html-logo-block span:nth-child(3) {
  border-color: #ffc500;
}
html body .thumb-block {
  display: inline-block;
  position: relative;
  width: 38px;
  height: 38px;
  top: -8px;
  margin-right: 25px;
  text-align: center;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 50%;
}
html body .thumb-block:before {
  content: '';
  position: absolute;
  width: 54px;
  height: 54px;
  top: -8px;
  background: rgba(255, 255, 255, 0.1);
  left: -8px;
  border-radius: 50%;
}
html body .thumb-block img {
  position: relative;
  top: 9px;
}
html body .play-button-block {
  position: absolute;
  width: 100%;
  top: 155px;
  text-align: center;
  color: #fff;
  cursor: pointer;
  font-size: 18px;
  z-index: 99;
}
html body .play-button-block span {
  display: inline-block;
  position: relative;
  width: 48px;
  height: 48px;
  top: 15px;
  margin-right: 15px;
  border-radius: 50%;
  background: #fff;
  box-shadow: 0 0 5px 3px rgba(255, 255, 255, 0.2), 0 0 10px 3px rgba(253, 168, 11, 0.6), 0 0 10px 1px rgba(0, 0, 0, 0.4), 0 0 15px 5px rgba(255, 255, 255, 0.1);
}
html body .play-button-block span .play-button-block__circle {
  position: absolute;
  width: 62px;
  height: 62px;
  left: -8px;
  top: -8px;
  opacity: 0.6;
  border-radius: 100%;
  border: 1px solid #fff;
}
html body .play-button-block span .play-button-block__circle:before {
  content: "";
  position: absolute;
  width: 74px;
  height: 74px;
  left: -7px;
  top: -7px;
  border-radius: 100%;
  opacity: 0.65;
  border: 1px solid #fff;
}
html body .play-button-block span .tes-block {
  left: -7px;
  top: -7px;
  width: 82px;
  height: 82px;
}
html body .play-button-block span .tes-block:before {
  left: -8px;
  top: -8px;
  width: 96px;
  height: 96px;
}
html body .play-button-block span .vid-block {
  left: -8px;
  top: -8px;
  width: 102px;
  height: 102px;
}
html body .play-button-block span .vid-block:before {
  left: -10px;
  top: -10px;
  width: 121px;
  height: 121px;
}
html body .play-button-block span:before,
html body .play-button-block span:after {
  content: '';
  position: absolute;
  display: block;
  width: 15px;
  height: 15px;
  background-image: linear-gradient(0deg, #e8c720 0%, #fda80b 100%);
  top: 17px;
  left: 14px;
  transform: rotate(45deg);
}
html body .play-button-block span:after {
  width: 15px;
  height: 25px;
  left: 5px;
  top: 10px;
  background-image: none;
  background: #fff;
  transform: rotate(0);
}
html body .play-button-block p {
  display: inline-block;
}
html body .close-video-block {
  position: fixed;
  width: 100%;
  background: rgba(0, 0, 0, 0.6);
  height: 100%;
  top: 0;
  z-index: 9999;
  opacity: 0;
  pointer-events: none;
  transition: all 0.15s ease-in-out;
}
html body .close-video-block .close-video-block__button {
  font-size: 16px;
  letter-spacing: 0.06em;
  font-weight: 700;
  outline: none;
  cursor: pointer;
  position: absolute;
  border: 2px solid #fbab0d;
  color: #fbab0d;
  border-radius: 10px;
  padding: 15px 20px;
  bottom: 6%;
  font-family: Ubuntu;
  left: 50%;
  transform: translateX(-50%);
}
html body .close-video-block .close-video-block__button:hover {
  background-image: linear-gradient(90deg, #fda80b 0%, #fd7203 100%);
  color: #fff;
}
html body .close-video-block .close-video-block__button:active {
  background-image: linear-gradient(0deg, #fda80b 0%, #fd7203 100%);
  outline: none;
  color: #ffffff;
}
html body .break-line-block {
  width: 360px;
  height: 1px;
  background: #d7d7d7;
  margin: 0 auto;
  border-radius: 1px;
}
html body .paired-bubbles-effect-block-rotation {
  transform: rotateY(180deg);
}
html body .paired-bubbles-effect-block {
  z-index: 0;
}
html body .paired-bubbles-effect-block .paired-bubbles__purple-bubbles {
  top: -12px;
  left: 147px;
  width: 65px;
  height: 65px;
  background: #eceff7;
  position: absolute;
  border-radius: 100%;
}
html body .paired-bubbles-effect-block .paired-bubbles__purple-bubbles:before {
  top: 77px;
  left: -31px;
  content: "";
  width: 20px;
  height: 20px;
  background: #eceff7;
  position: absolute;
  border-radius: 100%;
}
html body .paired-bubbles-effect-block .paired-bubbles__blue-bubbles {
  top: 49px;
  left: 188px;
  width: 90px;
  height: 90px;
  position: absolute;
  border-radius: 100%;
  background: #eaf5f9;
}
html body .paired-bubbles-effect-block .paired-bubbles__blue-bubbles:before {
  top: -43px;
  left: 75px;
  content: "";
  width: 25px;
  height: 25px;
  position: absolute;
  border-radius: 100%;
  background: #eaf5f9;
}
html body .paired-bubbles-effect-block-rotation2 {
  transform: rotate(180deg);
}
html body .paired-bubbles-effect-block-rotation2 .paired-bubbles__purple-bubbles {
  top: -104px;
  left: 121px;
  width: 65px;
  height: 65px;
  background: #eceff7;
  position: absolute;
  border-radius: 100%;
}
html body .paired-bubbles-effect-block-rotation2 .paired-bubbles__purple-bubbles:before {
  top: 84px;
  left: 11px;
  content: "";
  width: 20px;
  height: 20px;
  background: #eceff7;
  position: absolute;
  border-radius: 100%;
}
html body .paired-bubbles-effect-block-rotation2 .paired-bubbles__blue-bubbles {
  top: -90px;
  left: 188px;
  width: 90px;
  height: 90px;
  position: absolute;
  border-radius: 100%;
  background: #eaf5f9;
}
html body .paired-bubbles-effect-block-rotation2 .paired-bubbles__blue-bubbles:before {
  top: -55px;
  left: 41px;
  content: "";
  width: 25px;
  height: 25px;
  background: #eaf5f9;
  position: absolute;
  border-radius: 100%;
}
html body .circles-effect {
  position: absolute;
  height: 200px;
  width: 200px;
  top: -49px;
  left: 64px;
  border-radius: 100%;
  border: 2px solid #e2effc;
  opacity: 1;
  z-index: -1;
}
html body .circles-effect:before {
  content: '';
  position: absolute;
  opacity: 0.25;
  height: 370px;
  width: 370px;
  top: -80px;
  left: -80px;
  border-radius: 100%;
  border: 2px solid #e2effc;
}
html body .circles-effect:after {
  content: '';
  position: absolute;
  height: 285px;
  width: 285px;
  top: -41px;
  left: -41px;
  border-radius: 100%;
  border: 2px solid #e2effc;
  opacity: 0.5;
}
html body .circles-effect .circles-effect__dot {
  position: absolute;
  color: #e6f1fc;
  font-size: 70px;
}
html body .circles-effect .circles-effect__dot:nth-child(1) {
  top: -98px;
  left: 129px;
}
html body .circles-effect .circles-effect__dot:nth-child(2) {
  top: 121px;
  left: -71px;
  opacity: 0.5;
}
html body .circles-effect .circles-effect__dot:nth-child(3) {
  top: 149px;
  left: 1px;
}
html body .circles-effect .circles-effect__dot:nth-child(4) {
  top: -40px;
  left: 27px;
}
html body .circles-effect.second-circles-effect {
  top: 21px;
  left: 69px;
  width: 235px;
  height: 235px;
}
html body .circles-effect.second-circles-effect:before {
  width: 405px;
  height: 405px;
}
html body .circles-effect.second-circles-effect:after {
  width: 320px;
  height: 320px;
}
html body .circles-effect.second-circles-effect .circles-effect__dot:nth-child(1) {
  top: -72px;
  left: 207px;
}
html body .circles-effect.second-circles-effect .circles-effect__dot:nth-child(2) {
  top: 193px;
  left: 200px;
  opacity: 1;
}
html body .circles-effect.second-circles-effect .circles-effect__dot:nth-child(3) {
  top: -42px;
  left: -60px;
}
html body .circles-effect.second-circles-effect .circles-effect__dot:nth-child(4) {
  display: none;
}
html body .required::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: #B71C1C;
}
html body .required::-moz-placeholder {
  /* Firefox 19+ */
  color: #B71C1C;
}
html body .required:-ms-input-placeholder {
  /* IE 10+ */
  color: #B71C1C;
}
html body .required:-moz-placeholder {
  /* Firefox 18- */
  color: #B71C1C;
}
html body .bubbles-block {
  overflow: visible;
}
html body .navigation-block {
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 99999;
  transition: all 0.15s ease-in-out;
  overflow: hidden;
}
html body .navigation-block > div {
  display: flex;
  width: 100%;
  height: 110px;
  max-width: 1140px;
  align-items: center;
  padding: 0 15px;
  margin: 0 auto;
}
html body .navigation-block > div .bubbles-block {
  overflow: visible;
}
html body .navigation-block > div .bubbles-block > div {
  z-index: -1;
}
html body .navigation-block > div .bubbles-block > div:first-child {
  top: -66px;
  left: -212px;
}
html body .navigation-block > div .bubbles-block > div:nth-child(2) {
  top: 51px;
  left: 422px;
}
html body .navigation-block > div .bubbles-block > div:last-child {
  top: 80px;
  left: 1100px;
}
html body .navigation-block > div .navigation-block__logo {
  z-index: 9;
}
html body .navigation-block > div .navigation-block__logo a {
  display: block;
  text-decoration: none;
  color: white;
}
html body .navigation-block > div .navigation-block__logo a .navigation-block__logo__image {
  font-size: 14px;
}
html body .navigation-block > div .navigation-block__logo a .navigation-block__logo__image img {
  width: 150px;
}
html body .navigation-block > div .navigation-block__logo a .navigation-block__logo__image p {
  margin: 0;
  padding: 0;
}
html body .navigation-block > div .navigation-block__links {
  display: flex;
  margin-left: 125px;
  text-align: right;
  font-size: 18px;
  flex-grow: 1;
  align-items: center;
  justify-content: space-between;
  z-index: 999;
}
html body .navigation-block > div .navigation-block__links a {
  color: inherit;
  text-decoration: none;
  transition: all 0.15s ease-in-out;
}
html body .navigation-block > div .navigation-block__links a:hover {
  color: #fbab0d;
}
html body .navigation-block > div .navigation-block__links .order-button-block {
  margin-left: 15px;
}
html body .navigation-block.scrolled {
  background-image: linear-gradient(90deg, #28e3e3 0%, #5b84f8 100%);
  box-shadow: 0 4px 9px 1px rgba(42, 42, 42, 0.2);
}
html body .navigation-block.scrolled .order-button-block {
  color: #fff;
  background-image: linear-gradient(45deg, #e8c720 0%, #fda80b 100%);
  box-shadow: 0 4px 9px 1px rgba(39, 39, 39, 0.2);
}
html body .navigation-block.scrolled .order-button-block:hover {
  background-image: linear-gradient(90deg, #fda80b 0%, #fd7203 100%);
  color: #fff;
}
html body .navigation-block.scrolled .order-button-block:active {
  background-image: linear-gradient(0deg, #fda80b 0%, #fd7203 100%);
  outline: none;
  color: #ffffff;
}
html body .navigation-block {
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 99999;
  transition: all 0.15s ease-in-out;
}
html body .navigation-block > div {
  position: relative;
  display: flex;
  width: 100%;
  height: 110px;
  max-width: 1140px;
  align-items: center;
  padding: 0 15px;
  margin: 0 auto;
}
html body .navigation-block > div .bubbles-block {
  overflow: visible;
}
html body .navigation-block > div .bubbles-block .bubble_size_large {
  top: 20px;
  left: 20px;
}
html body .navigation-block > div .bubbles-block .bubble_size_small {
  top: 20px;
  left: 20px;
}
html body .navigation-block > div .bubbles-block > div:first-child {
  top: -66px;
  left: -212px;
}
html body .navigation-block > div .bubbles-block > div:last-child {
  top: 80px;
  left: 1090px;
}
html body .navigation-block > div .navigation-block__logo .navigation-block__logo__image {
  font-size: 14px;
}
html body .navigation-block > div .navigation-block__logo .navigation-block__logo__image img {
  width: 150px;
}
html body .navigation-block > div .navigation-block__logo .navigation-block__logo__image p {
  margin: 0;
  padding: 0;
}
html body .navigation-block > div .navigation-block__links {
  display: flex;
  margin-left: 125px;
  text-align: right;
  font-size: 18px;
  flex-grow: 1;
  align-items: center;
  justify-content: space-between;
}
html body .navigation-block > div .navigation-block__links a {
  color: inherit;
  text-decoration: none;
  transition: all 0.15s ease-in-out;
}
html body .navigation-block > div .navigation-block__links a:hover {
  color: #fbab0d;
}
html body .navigation-block > div .navigation-block__links .order-button-block {
  margin-left: 15px;
}
html body .navigation-block.scrolled {
  background-image: linear-gradient(90deg, #28e3e3 0%, #5b84f8 100%);
  box-shadow: 0 4px 9px 1px rgba(42, 42, 42, 0.2);
}
html body .navigation-block.scrolled .order-button-block {
  color: #fff;
  background-image: linear-gradient(45deg, #e8c720 0%, #fda80b 100%);
  box-shadow: 0 4px 9px 1px rgba(39, 39, 39, 0.2);
}
html body .navigation-block.scrolled .order-button-block:hover {
  background-image: linear-gradient(90deg, #fda80b 0%, #fd7203 100%);
  color: #fff;
}
html body .navigation-block.scrolled .order-button-block:active {
  background-image: linear-gradient(0deg, #fda80b 0%, #fd7203 100%);
  outline: none;
  color: #ffffff;
}
html body main h2 {
  font-size: 40px;
  letter-spacing: 0.04em;
}
html body main .gradient-block {
  margin-top: -49px;
  position: relative;
  background-image: linear-gradient(90deg, #28e3e3 0%, #5b84f8 100%);
}
html body main .gradient-block:first-child {
  padding-top: 150px;
  padding-bottom: 90px;
}
html body main .gradient-block .intro-holder .bubbles-block div:nth-child(1) {
  top: 400px;
  left: 190px;
}
html body main .gradient-block .intro-holder .bubbles-block div:nth-child(2) {
  top: 86px;
  left: 1395px;
}
html body main .gradient-block .intro-holder .bubbles-block div:nth-child(3) {
  top: 64px;
  left: 126px;
  filter: blur(2px);
}
html body main .gradient-block .intro-holder .bubbles-block div:nth-child(4) {
  top: 640px;
  left: 130px;
}
html body main .gradient-block .intro-holder .bubbles-block div:nth-child(5) {
  top: 460px;
  left: 1623px;
  opacity: 0.7;
}
html body main .gradient-block .intro-holder .bubbles-block div:nth-child(6) {
  top: 790px;
  left: 1337px;
  z-index: 0;
}
html body main .gradient-block .intro-holder .bubbles-block div:nth-child(7) {
  top: 774px;
  left: 614px;
  z-index: 0;
}
html body main .gradient-block .intro-holder .bubbles-block div:nth-child(8) {
  top: 760px;
  left: 240px;
  opacity: 0.5;
}
html body main .gradient-block .intro-holder .bubbles-block div:nth-child(9) {
  top: 37px;
  left: 971px;
}
html body main .gradient-block .intro-holder .bubbles-block div:nth-child(10) {
  top: 500px;
  left: 870px;
}
html body main .gradient-block .intro-holder .bubbles-block div:nth-child(11) {
  top: 780px;
  left: 1690px;
  opacity: 0.6;
}
html body main .gradient-block .intro-holder .gradient-block__intro-block {
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
  align-items: center;
  max-width: 1140px;
  margin: 0 auto;
}
html body main .gradient-block .intro-holder .gradient-block__intro-block .intro-block__images {
  display: inline-block;
  position: relative;
  margin-right: 252px;
}
html body main .gradient-block .intro-holder .gradient-block__intro-block .intro-block__images .intro-block__images__phone-image-block {
  background: url('homepage_images/iphone.png');
  width: 260px;
  margin-top: 49px;
  margin-left: 30px;
  height: 524px;
  position: relative;
  z-index: 999;
  padding: 60px 15px 70px;
  box-sizing: border-box;
}
html body main .gradient-block .intro-holder .gradient-block__intro-block .intro-block__images .intro-block__images__phone-image-block .circles-effect-block {
  left: 40px;
}
html body main .gradient-block .intro-holder .gradient-block__intro-block .intro-block__images .intro-block__images__phone-image-block .html-logo-block {
  top: 55px;
  left: 80px;
}
html body main .gradient-block .intro-holder .gradient-block__intro-block .intro-block__images .intro-block__images__phone-image-block .phone-image-block__bg-phone {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.84);
  position: relative;
}
html body main .gradient-block .intro-holder .gradient-block__intro-block .intro-block__images .intro-block__images__phone-image-block .phone-image-block__bg-phone img {
  box-sizing: border-box;
  border: 1px solid black;
}
html body main .gradient-block .intro-holder .gradient-block__intro-block .intro-block__images .intro-block__images__phone-image-block .phone-image-block__bg-phone#watchVideo {
  cursor: pointer;
}
html body main .gradient-block .intro-holder .gradient-block__intro-block .intro-block__images .intro-block__images__phone-image-block .phone-image-block__bg-phone#watchVideo:before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(120deg, rgba(0, 0, 0, 0.5), #5b84f8);
  opacity: 0.5;
  z-index: 99;
}
html body main .gradient-block .intro-holder .gradient-block__intro-block .intro-block__images .intro-block__images__phone-image-block .phone-image-block__bg-phone img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
html body main .gradient-block .intro-holder .gradient-block__intro-block .intro-block__images .intro-block__images__phone-image-block .phone-image-block__watch-image {
  position: absolute;
  z-index: 999;
  bottom: -40px;
  right: -160px;
}
html body main .gradient-block .intro-holder .gradient-block__intro-block .intro-block__images .intro-block__images__phone-shadow {
  position: absolute;
  width: 250px;
  height: 2px;
  bottom: -2px;
  left: 35px;
  opacity: 0.35;
  background: #000;
  border-radius: 50%;
  box-shadow: 0 0 1px 2px #000;
  transform: skew(-75deg);
}
html body main .gradient-block .intro-holder .gradient-block__intro-block .intro-block__info {
  display: inline-block;
  z-index: 1;
}
html body main .gradient-block .intro-holder .gradient-block__intro-block .intro-block__info h1 {
  font-size: 72px;
  letter-spacing: 0.04em;
  margin-bottom: -20px;
}
html body main .gradient-block .intro-holder .gradient-block__intro-block .intro-block__info h3 {
  margin-bottom: 40px;
  color: #e9c51e;
  font-size: 28px;
  font-weight: 400;
}
html body main .gradient-block .intro-holder .gradient-block__intro-block .intro-block__info .intro-block__info__members-block h4 {
  display: inline-block;
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 0.06em;
  margin: 60px 0 0;
}
html body main .gradient-block .intro-holder .gradient-block__info-blocks {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  margin-top: 105px;
  z-index: 999;
}
html body main .gradient-block .intro-holder .gradient-block__info-blocks .gradient-block__info-blocks__flex-holder {
  margin: 0 15px;
  display: flex;
  justify-content: center;
}
html body main .gradient-block .intro-holder .gradient-block__info-blocks .gradient-block__info-blocks__flex-holder span {
  display: inline-block;
  position: relative;
  width: 51px;
  height: 45px;
  margin: 0 12px;
  background: url('homepage_images/sprite.svg');
  background-repeat: no-repeat;
  background-size: 398px 59px;
  z-index: 8;
}
html body main .gradient-block .intro-holder .gradient-block__info-blocks .gradient-block__info-blocks__flex-holder .gradient-block__info-blocks__heart {
  background-position: -189px -9px;
}
html body main .gradient-block .intro-holder .gradient-block__info-blocks .gradient-block__info-blocks__flex-holder .gradient-block__info-blocks__brain {
  background-position: -240px -8px;
  margin-right: 7px;
}
html body main .gradient-block .intro-holder .gradient-block__info-blocks .gradient-block__info-blocks__flex-holder .gradient-block__info-blocks__control {
  width: 52px;
  background-position: -291px -8px;
}
html body main .gradient-block .intro-holder .gradient-block__info-blocks .gradient-block__info-blocks__flex-holder .gradient-block__info-blocks__patterns {
  height: 50px;
  background-position: -345px -2px;
  margin-right: 7px;
}
html body main .gradient-block .intro-holder .gradient-block__info-blocks .gradient-block__info-blocks__flex-holder > div {
  display: inline-block;
  position: relative;
  width: 263px;
  height: 107px;
  overflow: visible;
  margin-left: 30px;
  border-radius: 8px;
  color: #222129;
  background-color: #ffffff;
  margin-top: 40px;
  box-shadow: 0 4px 9px 1px rgba(39, 39, 39, 0.2);
}
html body main .gradient-block .intro-holder .gradient-block__info-blocks .gradient-block__info-blocks__flex-holder > div img {
  position: relative;
  margin: 0 15px;
  z-index: 99;
}
html body main .gradient-block .intro-holder .gradient-block__info-blocks .gradient-block__info-blocks__flex-holder > div:first-of-type {
  margin-left: 0;
}
html body main .gradient-block .intro-holder .gradient-block__info-blocks .gradient-block__info-blocks__flex-holder > div:last-of-type div {
  max-width: 185px;
}
html body main .gradient-block .intro-holder .gradient-block__info-blocks .gradient-block__info-blocks__flex-holder > div:before,
html body main .gradient-block .intro-holder .gradient-block__info-blocks .gradient-block__info-blocks__flex-holder > div:after {
  content: '';
  position: absolute;
  width: 245px;
  height: 100%;
  top: -10px;
  left: 9px;
  opacity: 0.6;
  background: inherit;
  border-radius: inherit;
}
html body main .gradient-block .intro-holder .gradient-block__info-blocks .gradient-block__info-blocks__flex-holder > div:after {
  width: 226px;
  top: -20px;
  left: 19px;
  opacity: 0.3;
}
html body main .gradient-block .intro-holder .gradient-block__info-blocks .gradient-block__info-blocks__flex-holder > div div {
  display: inline-block;
  max-width: 172px;
  font-family: 'Ubuntu', sans-serif;
  font-weight: 300;
  font-size: 14px;
  letter-spacing: 0.015em;
  position: relative;
  z-index: 9;
  line-height: 20px;
  text-align: left;
}
html body main .gradient-block .intro-holder .gradient-block__info-blocks .gradient-block__info-blocks__flex-holder > div div h4 {
  font-family: 'Ubuntu', sans-serif;
  font-weight: 700;
  font-size: 17px;
  margin: 18px 0 8px;
}
html body main .gradient-block.order-block {
  background-image: linear-gradient(90deg, #28e3e3 0%, #5b84f8 100%);
  position: relative;
  z-index: 9;
}
html body main .gradient-block.order-block:first-child {
  padding-top: 200px;
  padding-bottom: 40px;
}
html body main .gradient-block.order-block .order-block-wrapper {
  position: relative;
}
html body main .gradient-block.order-block .order-block-wrapper .bubbles-block > div:nth-child(1) {
  top: 370px;
  left: 250px;
}
html body main .gradient-block.order-block .order-block-wrapper .bubbles-block > div:nth-child(2) {
  left: 1634px;
  top: 22px;
  z-index: 0;
}
html body main .gradient-block.order-block .order-block-wrapper .bubbles-block > div:nth-child(3) {
  top: 632px;
  left: 110px;
}
html body main .gradient-block.order-block .order-block-wrapper .bubbles-block > div:nth-child(4) {
  top: 440px;
  left: 1770px;
}
html body main .gradient-block.order-block .order-block-wrapper .bubbles-block > div:nth-child(5) {
  top: 4px;
  left: 110px;
  filter: blur(2px);
}
html body main .gradient-block.order-block .order-block-wrapper .bubbles-block > div:nth-child(6) {
  top: 465px;
  left: 1045px;
}
html body main .gradient-block.order-block .order-block-wrapper .order-block-wrapper__order-block {
  margin: 0 auto;
  max-width: 1140px;
}
html body main .gradient-block.order-block .order-block-wrapper .order-block-wrapper__order-block .order-block-flex-holder {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}
html body main .gradient-block.order-block .order-block-wrapper .order-block-wrapper__order-block .order-block-flex-holder .flex-holder__order-wrapper {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  margin-top: 15px;
}
html body main .gradient-block.order-block .order-block-wrapper .order-block-wrapper__order-block .order-block-flex-holder .flex-holder__order-wrapper #images {
  display: flex;
  position: absolute;
  width: 488px;
  overflow: hidden;
  border-radius: 10px;
  z-index: 1;
}
html body main .gradient-block.order-block .order-block-wrapper .order-block-wrapper__order-block .order-block-flex-holder .flex-holder__order-wrapper #images .order__img {
  position: relative;
  width: 100%;
  height: 384px;
  object-fit: contain;
  left: 0;
  transition: left 0.3s ease-in-out;
}
html body main .gradient-block.order-block .order-block-wrapper .order-block-wrapper__order-block .order-block-flex-holder .flex-holder__order-wrapper .order__img-block {
  position: relative;
  width: 490px;
  height: 390px;
  background-color: white;
  border-radius: 10px;
  margin-right: 100px;
}
html body main .gradient-block.order-block .order-block-wrapper .order-block-wrapper__order-block .order-block-flex-holder .flex-holder__order-wrapper .order__img-block .arrow-holder {
  background: #fff;
}
html body main .gradient-block.order-block .order-block-wrapper .order-block-wrapper__order-block .order-block-flex-holder .flex-holder__order-wrapper .order__img-block #leftArrow {
  left: 25px;
  top: 170px;
}
html body main .gradient-block.order-block .order-block-wrapper .order-block-wrapper__order-block .order-block-flex-holder .flex-holder__order-wrapper .order__img-block #rightArrow {
  right: 25px;
  top: 170px;
}
html body main .gradient-block.order-block .order-block-wrapper .order-block-wrapper__order-block .order-block-flex-holder .flex-holder__order-wrapper .order__img-block:before,
html body main .gradient-block.order-block .order-block-wrapper .order-block-wrapper__order-block .order-block-flex-holder .flex-holder__order-wrapper .order__img-block:after {
  content: '';
  position: absolute;
  width: 470px;
  height: 100%;
  top: -10px;
  left: 9px;
  opacity: 0.6;
  background: inherit;
  border-radius: inherit;
}
html body main .gradient-block.order-block .order-block-wrapper .order-block-wrapper__order-block .order-block-flex-holder .flex-holder__order-wrapper .order__img-block:after {
  width: 450px;
  top: -20px;
  left: 19px;
  opacity: 0.3;
}
html body main .gradient-block.order-block .order-block-wrapper .order-block-wrapper__order-block .order-block-flex-holder .flex-holder__order-wrapper .order-wrapper__order {
  position: relative;
  display: flex;
  flex-flow: column nowrap;
  text-align: left;
  width: 560px;
}
html body main .gradient-block.order-block .order-block-wrapper .order-block-wrapper__order-block .order-block-flex-holder .flex-holder__order-wrapper .order-wrapper__order .order__text-block h2 {
  font-size: 56px;
  letter-spacing: 0.04em;
  margin: 0;
}
html body main .gradient-block.order-block .order-block-wrapper .order-block-wrapper__order-block .order-block-flex-holder .flex-holder__order-wrapper .order-wrapper__order .order__text-block p {
  margin: 10px 0 25px;
  font-size: 18px;
  font-weight: 300;
  line-height: 32px;
}
html body main .gradient-block.order-block .order-block-wrapper .order-block-wrapper__order-block .order-block-flex-holder .flex-holder__order-wrapper .order-wrapper__order .order__select-block {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}
html body main .gradient-block.order-block .order-block-wrapper .order-block-wrapper__order-block .order-block-flex-holder .flex-holder__order-wrapper .order-wrapper__order .order__select-block #price {
  position: relative;
  top: 5px;
  font-family: BebasBold;
  font-size: 50px;
  letter-spacing: 0.004px;
  margin-right: 35px;
  color: #ecc11c;
}
html body main .gradient-block.order-block .order-block-wrapper .order-block-wrapper__order-block .order-block-flex-holder .flex-holder__order-wrapper .order-wrapper__order .order__select-block #minus,
html body main .gradient-block.order-block .order-block-wrapper .order-block-wrapper__order-block .order-block-flex-holder .flex-holder__order-wrapper .order-wrapper__order .order__select-block #plus {
  font-size: 25px;
  line-height: 36px;
  letter-spacing: 0.006px;
  color: #f3b715;
}
html body main .gradient-block.order-block .order-block-wrapper .order-block-wrapper__order-block .order-block-flex-holder .flex-holder__order-wrapper .order-wrapper__order .order__select-block #minus:hover,
html body main .gradient-block.order-block .order-block-wrapper .order-block-wrapper__order-block .order-block-flex-holder .flex-holder__order-wrapper .order-wrapper__order .order__select-block #plus:hover {
  cursor: pointer;
}
html body main .gradient-block.order-block .order-block-wrapper .order-block-wrapper__order-block .order-block-flex-holder .flex-holder__order-wrapper .order-wrapper__order .order__select-block #plus {
  margin-right: 35px;
}
html body main .gradient-block.order-block .order-block-wrapper .order-block-wrapper__order-block .order-block-flex-holder .flex-holder__order-wrapper .order-wrapper__order .order__select-block #quant {
  width: 45px;
  height: 45px;
  color: black;
  font-size: 14px;
  border-radius: 5px;
  background-color: #fff;
  margin: 0 10px;
  text-align: center;
  line-height: 47px;
}
html body main .gradient-block.order-block .order-block-wrapper .order-block-wrapper__order-block .order-block-flex-holder .flex-holder__order-wrapper .order-wrapper__order .order__select-block .select-option-color {
  position: relative;
  width: 35px;
  height: 35px;
  border-radius: 100%;
  margin: 0 7.5px;
  box-sizing: border-box;
}
html body main .gradient-block.order-block .order-block-wrapper .order-block-wrapper__order-block .order-block-flex-holder .flex-holder__order-wrapper .order-wrapper__order .order__select-block .select-option-color .select-block__checkmark {
  display: none;
  position: absolute;
  width: 15px;
  height: 15px;
  top: -1px;
  left: 22px;
  border-radius: 100%;
  background-image: linear-gradient(45deg, #e8c720 0%, #fda80b 100%);
}
html body main .gradient-block.order-block .order-block-wrapper .order-block-wrapper__order-block .order-block-flex-holder .flex-holder__order-wrapper .order-wrapper__order .order__select-block .select-option-color:hover {
  cursor: pointer;
}
html body main .gradient-block.order-block .order-block-wrapper .order-block-wrapper__order-block .order-block-flex-holder .flex-holder__order-wrapper .order-wrapper__order .order__select-block .selected {
  border: 1px solid #fcaa0c;
}
html body main .gradient-block.order-block .order-block-wrapper .order-block-wrapper__order-block .order-block-flex-holder .flex-holder__order-wrapper .order-wrapper__order .order__select-block .selected .select-block__checkmark {
  display: block;
  overflow: hidden;
}
html body main .gradient-block.order-block .order-block-wrapper .order-block-wrapper__order-block .order-block-flex-holder .flex-holder__order-wrapper .order-wrapper__order .order__select-block .selected .select-block__checkmark:before {
  content: '';
  position: absolute;
  width: 10px;
  height: 10px;
  top: -3px;
  left: 1px;
  background-image: linear-gradient(45deg, #e8c720 0%, #fda80b 100%);
  transform: rotate(40deg);
  z-index: 1;
}
html body main .gradient-block.order-block .order-block-wrapper .order-block-wrapper__order-block .order-block-flex-holder .flex-holder__order-wrapper .order-wrapper__order .order__select-block .selected .select-block__checkmark:after {
  content: '';
  width: 5px;
  height: 8px;
  position: absolute;
  top: 2px;
  left: 5px;
  background-color: white;
  transform: rotate(40deg);
}
html body main .gradient-block.order-block .order-block-wrapper .order-block-wrapper__order-block .order-block-flex-holder .flex-holder__order-wrapper .order-wrapper__order .order__select-block #select-black {
  background-color: #322f38;
}
html body main .gradient-block.order-block .order-block-wrapper .order-block-wrapper__order-block .order-block-flex-holder .flex-holder__order-wrapper .order-wrapper__order .order__select-block #select-gray {
  background-color: #c6c6c6;
}
html body main .gradient-block.order-block .order-block-wrapper .order-block-wrapper__order-block .order-block-flex-holder .flex-holder__order-wrapper .order-wrapper__order .order__select-block #select-orange {
  background-color: #d78c33;
}
html body main .gradient-block.order-block .order-block-wrapper .order-block-wrapper__order-block .order-block-flex-holder .flex-holder__order-wrapper .order-wrapper__order .order__select-block #select-pink {
  background-color: #fca28f;
}
html body main .gradient-block.order-block .order-block-wrapper .order-block-wrapper__order-block .order-block-flex-holder .flex-holder__order-wrapper .order-wrapper__order .order__select-os {
  display: flex;
  flex-flow: row;
}
html body main .gradient-block.order-block .order-block-wrapper .order-block-wrapper__order-block .order-block-flex-holder .flex-holder__order-wrapper .order-wrapper__order .order__select-os .os-block {
  margin: 30px 12.5px;
  width: 173px;
  height: 46px;
  border: 1px solid #fff;
  border-radius: 10px;
  display: flex;
  flex-flow: row;
  position: relative;
  opacity: 0.6;
}
html body main .gradient-block.order-block .order-block-wrapper .order-block-wrapper__order-block .order-block-flex-holder .flex-holder__order-wrapper .order-wrapper__order .order__select-os .os-block .os-block__checkmark {
  width: 15px;
  height: 15px;
  position: absolute;
  top: -6px;
  left: 165px;
  border-radius: 100%;
  background-image: linear-gradient(45deg, #e8c720 0%, #fda80b 100%);
  display: none;
}
html body main .gradient-block.order-block .order-block-wrapper .order-block-wrapper__order-block .order-block-flex-holder .flex-holder__order-wrapper .order-wrapper__order .order__select-os .os-block:first-child {
  margin-left: 0px;
}
html body main .gradient-block.order-block .order-block-wrapper .order-block-wrapper__order-block .order-block-flex-holder .flex-holder__order-wrapper .order-wrapper__order .order__select-os .os-block img {
  margin: 10px 15px;
}
html body main .gradient-block.order-block .order-block-wrapper .order-block-wrapper__order-block .order-block-flex-holder .flex-holder__order-wrapper .order-wrapper__order .order__select-os .os-block .os-block__text h5 {
  font-size: 16px;
  margin: 5px 0 0 0;
}
html body main .gradient-block.order-block .order-block-wrapper .order-block-wrapper__order-block .order-block-flex-holder .flex-holder__order-wrapper .order-wrapper__order .order__select-os .os-block .os-block__text p {
  margin: 0;
  font-size: 12px;
  font-weight: 300;
  letter-spacing: 0.06em;
}
html body main .gradient-block.order-block .order-block-wrapper .order-block-wrapper__order-block .order-block-flex-holder .flex-holder__order-wrapper .order-wrapper__order .order__select-os .selected {
  border-color: #fcaa0c;
  position: relative;
  opacity: 1;
}
html body main .gradient-block.order-block .order-block-wrapper .order-block-wrapper__order-block .order-block-flex-holder .flex-holder__order-wrapper .order-wrapper__order .order__select-os .selected .os-block__checkmark {
  display: block;
  overflow: hidden;
}
html body main .gradient-block.order-block .order-block-wrapper .order-block-wrapper__order-block .order-block-flex-holder .flex-holder__order-wrapper .order-wrapper__order .order__select-os .selected .os-block__checkmark:before {
  content: '';
  width: 10px;
  height: 10px;
  position: absolute;
  top: -3px;
  left: 1px;
  background-image: linear-gradient(45deg, #e8c720 0%, #fda80b 100%);
  z-index: 1;
  transform: rotate(40deg);
}
html body main .gradient-block.order-block .order-block-wrapper .order-block-wrapper__order-block .order-block-flex-holder .flex-holder__order-wrapper .order-wrapper__order .order__select-os .selected .os-block__checkmark:after {
  content: '';
  width: 5px;
  height: 8px;
  position: absolute;
  top: 2px;
  left: 5px;
  background-color: white;
  transform: rotate(40deg);
}
html body main .gradient-block.order-block .order-block-wrapper .order-block-wrapper__order-block .order-block-flex-holder .flex-holder__order-wrapper .order-wrapper__order button {
  width: 164px;
}
html body main .gradient-block.order-block .order-block-wrapper .order-block-wrapper__order-block .order-block-flex-holder .flex-holder__logo-block {
  display: flex;
  flex-flow: row nowrap;
  width: 100%;
  justify-content: space-between;
  margin-top: 60px;
}
html body main .gradient-block.order-block .order-block-wrapper .order-block-wrapper__order-block .order-block-flex-holder .flex-holder__logo-block .logo-block__benefits {
  display: flex;
  flex-flow: row nowrap;
  width: 265px;
  letter-spacing: 0.0015em;
}
html body main .gradient-block.order-block .order-block-wrapper .order-block-wrapper__order-block .order-block-flex-holder .flex-holder__logo-block .logo-block__benefits:first-child {
  width: 300px;
}
html body main .gradient-block.order-block .order-block-wrapper .order-block-wrapper__order-block .order-block-flex-holder .flex-holder__logo-block .logo-block__benefits:last-child {
  width: 195px;
}
html body main .gradient-block.order-block .order-block-wrapper .order-block-wrapper__order-block .order-block-flex-holder .flex-holder__logo-block .logo-block__benefits:last-child p {
  line-height: 38px;
}
html body main .gradient-block.order-block .order-block-wrapper .order-block-wrapper__order-block .order-block-flex-holder .flex-holder__logo-block .logo-block__benefits p {
  margin: 0;
  font-weight: 300;
  letter-spacing: 0.015em;
  line-height: 24px;
}
html body main .gradient-block.order-block .order-block-wrapper .order-block-wrapper__order-block .order-block-flex-holder .flex-holder__logo-block .logo-block__benefits .logo-holder {
  width: 56px;
  height: 37px;
  display: flex;
  justify-content: right;
  margin-right: 20px;
}
html body main .gradient-block.order-block .order-block-wrapper .order-block-wrapper__order-block .order-block-flex-holder .flex-holder__logo-block .logo-block__benefits .logo-holder img {
  object-fit: contain;
}
html body main .gradient-block.order-block .order-block-wrapper .order-block-wrapper__order-block .order-block-flex-holder .flex-holder__quote-block {
  margin-top: 65px;
}
html body main .gradient-block.order-block .order-block-wrapper .order-block-wrapper__order-block .order-block-flex-holder .flex-holder__quote-block p {
  letter-spacing: 0.06em;
  font-style: italic;
}
html body main .gradient-block.order-block .order-block-wrapper .order-block-wrapper__order-block .order-block-flex-holder .flex-holder__quote-block p:first-child {
  font-size: 20px;
  margin: 0;
}
html body main .gradient-block.order-block .order-block-wrapper .order-block-wrapper__order-block .order-block-flex-holder .flex-holder__quote-block p:last-child {
  font-size: 14px;
  font-weight: 700;
  margin-bottom: 10px;
  text-align: right;
}
html body main .specifications-block {
  color: black;
  max-width: 1140px;
  margin: 0 auto;
}
html body main .specifications-block h2 {
  font-size: 40px;
  letter-spacing: 0.04em;
  text-align: center;
  margin-top: 47px;
}
html body main .specifications-block h4 {
  font-size: 18px;
  letter-spacing: 0;
  margin-bottom: 15px;
}
html body main .specifications-block li {
  position: relative;
  list-style-type: none;
  margin: 8px 0;
}
html body main .specifications-block .specifications-block__button-holder {
  text-align: center;
  margin: 25px 0 100px;
}
html body main .specifications-block .specifications-block__button-holder button {
  width: 264px;
}
html body main .specifications-block .specifications-block__content-holder {
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: row nowrap;
}
html body main .specifications-block .specifications-block__content-holder .specifications-block__content-holder__column {
  min-width: 300px;
  padding: 0 18px;
}
html body main .specifications-block .specifications-block__content-holder .specifications-block__content-holder__column .specifications-block__ul .specifications-block__text-holder__dot {
  position: absolute;
  height: 5px;
  width: 5px;
  top: 10px;
  left: -27px;
  border-radius: 100%;
  background: #4f9ef2;
  opacity: 1;
}
html body main .specifications-block .specifications-block__content-holder .specifications-block__content-holder__column .specifications-block__ul .specifications-block__text-holder__dot:before,
html body main .specifications-block .specifications-block__content-holder .specifications-block__content-holder__column .specifications-block__ul .specifications-block__text-holder__dot:after {
  content: "";
  position: absolute;
  height: 15px;
  width: 15px;
  top: -5px;
  left: -5px;
  border-radius: 50%;
  background: #cde4fc;
  opacity: 0.5;
}
html body main .specifications-block .specifications-block__content-holder .specifications-block__content-holder__column .specifications-block__ul .specifications-block__text-holder__dot:after {
  top: -10px;
  left: -10px;
  height: 25px;
  width: 25px;
  background: #edf5fe;
}
html body main .specifications-block .specifications-block__content-holder .specifications-block__content-holder__column .specifications-block__text-holder {
  font-size: 16px;
  letter-spacing: 0.015em;
  line-height: 24px;
  font-weight: 300;
}
html body main .dimensions-block {
  position: relative;
  max-width: 1140px;
  color: black;
  padding-top: 67px;
  padding-bottom: 90px;
  margin: auto;
}
html body main .dimensions-block h2 {
  text-align: center;
  font-size: 40px;
  letter-spacing: 0.004em;
  margin-bottom: 0;
}
html body main .dimensions-block .rectangle_effect {
  display: none;
}
html body main .dimensions-block .dimensions-block__flex-holder {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
html body main .dimensions-block .dimensions-block__flex-holder .flex-holder__watch-block {
  display: flex;
  flex-flow: column;
}
html body main .dimensions-block .dimensions-block__flex-holder .flex-holder__watch-block p {
  text-align: center;
  letter-spacing: 0.015em;
  font-weight: 300;
  margin-bottom: 0;
}
html body main .dimensions-block .dimensions-block__flex-holder .flex-holder__watch-block p span {
  font-weight: 500;
}
html body main .dimensions-block .dimensions-block__flex-holder .flex-holder__watch-block .watch-block__line-holder {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  margin-right: 5px;
}
html body main .dimensions-block .dimensions-block__flex-holder .flex-holder__watch-block .watch-block__line-holder .line-holder__line {
  text-align: center;
  height: 25px;
  border-bottom: 1px solid #d7d7d7;
  font-weight: 300;
  letter-spacing: 0.015em;
}
html body main .dimensions-block .dimensions-block__flex-holder .flex-holder__watch-block .watch-block__line-holder .line-holder__medium-line {
  width: 230px;
  position: relative;
}
html body main .dimensions-block .dimensions-block__flex-holder .flex-holder__watch-block .watch-block__line-holder .line-holder__medium-line:before {
  content: '';
  position: absolute;
  width: 1px;
  height: 15px;
  background-color: #d7d7d7;
  top: 18px;
  left: 0;
}
html body main .dimensions-block .dimensions-block__flex-holder .flex-holder__watch-block .watch-block__line-holder .line-holder__small-line {
  width: 97px;
  position: relative;
}
html body main .dimensions-block .dimensions-block__flex-holder .flex-holder__watch-block .watch-block__line-holder .line-holder__small-line:before,
html body main .dimensions-block .dimensions-block__flex-holder .flex-holder__watch-block .watch-block__line-holder .line-holder__small-line:after {
  content: '';
  position: absolute;
  width: 1px;
  height: 15px;
  top: 18px;
  background-color: #d7d7d7;
}
html body main .dimensions-block .dimensions-block__flex-holder .flex-holder__watch-block .watch-block__line-holder .line-holder__small-line:before {
  left: 0;
}
html body main .dimensions-block .dimensions-block__flex-holder .flex-holder__watch-block .watch-block__line-holder .line-holder__small-line:after {
  right: 0;
}
html body main .dimensions-block .dimensions-block__flex-holder .flex-holder__watch-block .watch-block__line-holder .line-holder__big-line {
  position: relative;
  width: 345px;
}
html body main .dimensions-block .dimensions-block__flex-holder .flex-holder__watch-block .watch-block__line-holder .line-holder__big-line:after {
  content: '';
  position: absolute;
  width: 1px;
  height: 15px;
  top: 18px;
  right: 0;
  background-color: #d7d7d7;
}
html body main .dimensions-block .dimensions-block__flex-holder .flex-holder__traits-block {
  display: flex;
  flex-flow: column;
  font-size: 18px;
  letter-spacing: 0.015em;
  font-weight: 300;
}
html body main .dimensions-block .dimensions-block__flex-holder .flex-holder__traits-block .traits-block__traits {
  display: flex;
  align-items: center;
  margin-top: 20px;
}
html body main .dimensions-block .dimensions-block__flex-holder .flex-holder__traits-block .traits-block__traits .traits__img-holder {
  width: 60px;
  height: 60px;
  box-shadow: 0 0 49px 0 rgba(39, 39, 39, 0.1);
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 20px;
}
html body .footer-block {
  background: linear-gradient(90deg, #049999 30%, #0e3dc1 100%);
}
html body .footer-block .footer-block__footer-wraper {
  display: flex;
  height: 335px;
  flex-flow: row wrap;
  max-width: 1140px;
  margin: 0 auto;
}
html body .footer-block .footer-block__footer-wraper .footer-block__flex-section {
  display: flex;
  justify-content: space-between;
  width: 400px;
}
html body .footer-block .footer-block__footer-wraper .footer-block__flex-section:last-child {
  flex-grow: 1;
  justify-content: flex-end;
}
html body .footer-block .footer-block__footer-wraper .footer-block__flex-section a {
  display: block;
  text-decoration: none;
  color: inherit;
  font-weight: 300;
  letter-spacing: 0.015em;
  margin: 20px 0;
  transition: all 0.15s ease-in-out;
}
html body .footer-block .footer-block__footer-wraper .footer-block__flex-section a:hover {
  color: #fbab0d;
}
html body .footer-block .footer-block__footer-wraper .footer-block__flex-section input {
  display: block;
  width: 264px;
  height: 50px;
  border: 1px solid #ebebeb;
  border-radius: 10px;
  background-color: #ffffff;
  box-shadow: 0 4px 9px 1px rgba(39, 39, 39, 0.1);
  padding: 0 20px;
  margin: 20px 0;
  outline: none;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.06em;
}
html body .footer-block .footer-block__footer-wraper .footer-block__flex-section input.required {
  border-color: #EF5350;
}
html body .footer-block .footer-block__footer-wraper .footer-block__flex-section button {
  display: block;
}
html body .footer-block .footer-block__footer-wraper .footer-block__flex-section h4 {
  margin: 65px 0 0;
  font-size: 20px;
}
html body .footer-block .footer-block__footer-wraper .footer-block__flex-section .footer-block__connect {
  min-width: 225px;
  margin-right: 70px;
}
html body .footer-block .footer-block__footer-wraper .footer-block__flex-section .footer-block__connect .footer-block__connect__icons {
  margin-top: 15px;
}
html body .footer-block .footer-block__footer-wraper .footer-block__flex-section .footer-block__connect .footer-block__connect__icons a {
  display: inline-block;
  height: 30px;
  margin: 0;
  cursor: pointer;
  padding: 0 15px;
  opacity: 0.6;
}
html body .footer-block .footer-block__footer-wraper .footer-block__flex-section .footer-block__connect .footer-block__connect__icons a:first-child {
  padding-left: 0;
}
html body .footer-block .footer-block__footer-wraper .footer-block__flex-section .footer-block__connect .footer-block__connect__icons a:hover {
  opacity: 1;
}
html body .footer-block .footer-block__footer-wraper .footer-block__flex-section .footer-block__connect .footer-block__connect__icons a span {
  display: inline-block;
  width: 22px;
  height: 30px;
  background: url('homepage_images/sprite.svg');
  background-size: 398px 58px;
}
html body .footer-block .footer-block__footer-wraper .footer-block__flex-section .footer-block__connect .footer-block__connect__icons a span.in {
  background: url('homepage_images/linkedin.svg');
  background-position: -205px -201px;
  background-size: 430px 430px;
}
html body .footer-block .footer-block__footer-wraper .footer-block__flex-section .footer-block__connect .footer-block__connect__icons a span.fb {
  background-position: 716px -15px;
}
html body .footer-block .footer-block__footer-wraper .footer-block__flex-section .footer-block__connect .footer-block__connect__icons a span.tw {
  background-position: 289px -15px;
}
html body .footer-block .footer-block__footer-wraper .footer-block__flex-section .footer-block__connect .footer-block__connect__icons a span.pint {
  background-position: -34px -15px;
}
html body .footer-block .footer-block__footer-wraper .footer-block__flex-section .footer-block__connect .footer-block__connect__icons a span.inst {
  background-position: -6px -16px;
}
html body .footer-block .footer-block__footer-wraper .footer-block__flex-section .footer-block__connect .footer-block__connect__icons a:not(:last-child) {
  line-height: 36px;
}
html body .footer-block .footer-block__footer-wraper .footer-block__flex-section .footer-block__connect p {
  margin-top: 20px;
  font-size: 12px;
}
@media screen and (max-width: 1024px) {
  html body header#nav {
    overflow: visible;
  }
  html body header#nav > div {
    justify-content: space-around;
  }
  html body header#nav ul {
    display: none;
  }
  html body header#nav nav {
    display: block;
    margin: 0;
    z-index: 9;
  }
  html body header#nav a {
    display: none;
  }
  html body header#nav button {
    margin-left: 0;
    margin-right: 145px;
  }
  html body header#nav .burger-menu-block {
    display: block;
    cursor: pointer;
  }
  html body header#nav .burger-menu-block .burger-menu-block__icon {
    position: absolute;
    top: 30px;
    right: 38px;
    color: #fff;
    z-index: 10;
  }
  html body header#nav .burger-menu-block .burger-menu-block__icon img {
    width: 48px;
  }
  html body header#nav .burger-menu-block .burger-menu-block__icon img.close-burger {
    display: none;
  }
  html body header#nav.burger-on ul {
    display: block;
    list-style-type: none;
    padding: 0;
    margin-bottom: 48px;
  }
  html body header#nav.burger-on ul li {
    padding: 12px 50px;
  }
  html body header#nav.burger-on .navigation-block__logo {
    color: #222129;
    z-index: 9;
  }
  html body header#nav.burger-on .navigation-block__logo a {
    color: black;
  }
  html body header#nav.burger-on .navigation-block__logo:before {
    content: 'AIRO';
    color: inherit;
    font-size: 50px;
    position: absolute;
    font-weight: 300;
    line-height: 32px;
    letter-spacing: 0.008em;
  }
  html body header#nav.burger-on .burger-menu-block {
    position: absolute;
    width: 100%;
    right: 0;
    top: 0;
    background: #fff;
    padding-top: 110px;
    color: #222129;
    box-shadow: -5px 0 20px 0 #222129;
  }
  html body header#nav.burger-on .burger-menu-block a {
    display: block;
    text-decoration: none;
    color: #222129;
    transition: all 0.15s ease-in-out;
  }
  html body header#nav.burger-on .burger-menu-block a:hover {
    color: #fbab0d;
  }
  html body header#nav.burger-on .burger-menu-block .burger-menu-block__icon {
    top: 40px;
    right: 45px;
  }
  html body header#nav.burger-on .burger-menu-block .burger-menu-block__icon img {
    width: 30px;
  }
  html body header#nav.burger-on .burger-menu-block .burger-menu-block__icon img.burger {
    display: none;
  }
  html body header#nav.burger-on .burger-menu-block .burger-menu-block__icon img.close-burger {
    display: block;
  }
  html body header#nav div .navigation-block__logo a {
    display: block;
  }
  html body main .gradient-block .intro-holder .gradient-block__intro-block {
    flex-flow: column;
  }
  html body main .gradient-block .intro-holder .gradient-block__intro-block .play-button-block {
    display: flex;
    line-height: 41px;
    left: -25px;
    width: 250px;
    top: 265px;
  }
  html body main .gradient-block .intro-holder .gradient-block__intro-block .play-button-block p {
    display: block;
    margin-left: 10px;
  }
  html body main .gradient-block .intro-holder .gradient-block__intro-block .circles-effect-block div:first-child {
    top: -100px;
    left: -130px;
    width: 290px;
    height: 290px;
  }
  html body main .gradient-block .intro-holder .gradient-block__intro-block .circles-effect-block div:nth-child(2) {
    width: 230px;
    height: 230px;
    left: -99px;
    top: -70px;
  }
  html body main .gradient-block .intro-holder .gradient-block__intro-block .circles-effect-block div:last-child {
    width: 170px;
    height: 170px;
    left: -68px;
    top: -39px;
  }
  html body main .gradient-block .intro-holder .gradient-block__intro-block .intro-block__images {
    margin-right: 0;
  }
  html body main .gradient-block .intro-holder .gradient-block__intro-block .intro-block__images .intro-block__images__phone-image-block {
    width: 115px;
    height: 230px;
    margin-left: 0;
    background-size: contain;
  }
  html body main .gradient-block .intro-holder .gradient-block__intro-block .intro-block__images .intro-block__images__phone-image-block .html-logo-block {
    top: 6px;
    left: 30px;
    width: 40px;
  }
  html body main .gradient-block .intro-holder .gradient-block__intro-block .intro-block__images .intro-block__images__phone-image-block .html-logo-block span {
    width: 9px;
    height: 9px;
    margin: 1px 2px;
    border-width: 3px;
  }
  html body main .gradient-block .intro-holder .gradient-block__intro-block .intro-block__images .intro-block__images__phone-image-block .phone-image-block__bg-phone {
    width: 100px;
    height: 180px;
    top: -35px;
    right: 8px;
    border: 1px solid;
    box-sizing: border-box;
  }
  html body main .gradient-block .intro-holder .gradient-block__intro-block .intro-block__images .intro-block__images__phone-image-block .phone-image-block__watch-image {
    bottom: -18px;
    right: -65px;
  }
  html body main .gradient-block .intro-holder .gradient-block__intro-block .intro-block__images .intro-block__images__phone-image-block .phone-image-block__watch-image img {
    width: 90px;
    height: 60px;
  }
  html body main .gradient-block .intro-holder .gradient-block__intro-block .intro-block__images .intro-block__images__phone-shadow {
    width: 110px;
    bottom: -1px;
    left: 5px;
  }
  html body main .gradient-block .intro-holder .gradient-block__intro-block .intro-block__info {
    margin-top: 90px;
    text-align: center;
  }
  html body main .gradient-block .intro-holder .gradient-block__intro-block .intro-block__info h1 {
    font-size: 60px;
    margin-top: 90px;
  }
  html body main .gradient-block .intro-holder .gradient-block__intro-block .intro-block__info h3 {
    font-size: 24px;
    margin-top: 28px;
  }
  html body main .gradient-block .intro-holder .gradient-block__intro-block .intro-block__info button {
    margin-top: -10px;
  }
  html body main .gradient-block .intro-holder .gradient-block__intro-block .intro-block__info .intro-block__info__members-block h4 {
    font-size: 20px;
    margin-top: 40px;
  }
  html body main .gradient-block .intro-holder .gradient-block__info-blocks {
    margin-top: 25px;
  }
  html body main .gradient-block .intro-holder .gradient-block__info-blocks .gradient-block__info-blocks__flex-holder > div {
    width: 213px;
  }
  html body main .gradient-block .intro-holder .gradient-block__info-blocks .gradient-block__info-blocks__flex-holder > div:last-of-type div {
    max-width: 139px;
  }
  html body main .gradient-block .intro-holder .gradient-block__info-blocks .gradient-block__info-blocks__flex-holder > div:before,
  html body main .gradient-block .intro-holder .gradient-block__info-blocks .gradient-block__info-blocks__flex-holder > div:after {
    width: 200px;
    top: -6px;
    left: 6px;
  }
  html body main .gradient-block .intro-holder .gradient-block__info-blocks .gradient-block__info-blocks__flex-holder > div:after {
    width: 183px;
    top: -11px;
    left: 14px;
  }
  html body main .gradient-block .intro-holder .gradient-block__info-blocks .gradient-block__info-blocks__flex-holder > div div {
    max-width: 132px;
    font-size: 11px;
    letter-spacing: 0;
  }
  html body main .gradient-block .intro-holder .gradient-block__info-blocks .gradient-block__info-blocks__flex-holder > div div h4 {
    font-size: 14px;
  }
  html body main .table-info-block .bubbles-block > div:nth-child(2) {
    top: 824px;
    left: 3px;
  }
  html body main .table-info-block .rectangle_effect {
    top: -150px;
    left: 19px;
  }
  html body main .table-info-block .rectangle_effect:before {
    top: -5px;
    right: 12px;
  }
  html body main .table-info-block .rectangle_effect_reverse {
    bottom: -150px;
  }
  html body main .table-info-block h2 {
    font-size: 30px;
    padding-top: 55px;
  }
  html body main .table-info-block .info-table-row {
    justify-content: space-around;
  }
  html body main .table-info-block .info-table-row .circles-effect:not(.second-circles-effect) {
    height: 150px;
    width: 150px;
    top: -35px;
    left: 35px;
  }
  html body main .table-info-block .info-table-row .circles-effect:not(.second-circles-effect):before {
    height: 295px;
    width: 295px;
    left: -72px;
    top: -72px;
  }
  html body main .table-info-block .info-table-row .circles-effect:not(.second-circles-effect):after {
    height: 220px;
    width: 220px;
    top: -35px;
    left: -35px;
  }
  html body main .table-info-block .info-table-row .circles-effect:not(.second-circles-effect) .circles-effect__dot:nth-child(1) {
    top: -88px;
    left: 110px;
  }
  html body main .table-info-block .info-table-row .circles-effect:not(.second-circles-effect) .circles-effect__dot:nth-child(2) {
    top: 75px;
    left: -68px;
  }
  html body main .table-info-block .info-table-row .circles-effect:not(.second-circles-effect) .circles-effect__dot:nth-child(3) {
    top: 103px;
    left: 1px;
  }
  html body main .table-info-block .info-table-row .circles-effect:not(.second-circles-effect) .circles-effect__dot:nth-child(4) {
    top: -50px;
    left: 23px;
  }
  html body main .table-info-block .info-table-row .circles-effect.second-circles-effect {
    top: -14px;
    left: 18px;
    height: 200px;
    width: 200px;
  }
  html body main .table-info-block .info-table-row .circles-effect.second-circles-effect:before {
    height: 370px;
    width: 370px;
  }
  html body main .table-info-block .info-table-row .circles-effect.second-circles-effect:after {
    height: 285px;
    width: 285px;
  }
  html body main .table-info-block .info-table-row .circles-effect.second-circles-effect .circles-effect__dot:nth-child(1) {
    top: -54px;
    left: 203px;
  }
  html body main .table-info-block .info-table-row .circles-effect.second-circles-effect .circles-effect__dot:nth-child(2) {
    top: 177px;
    left: 140px;
  }
  html body main .table-info-block .info-table-row .circles-effect.second-circles-effect .circles-effect__dot:nth-child(3) {
    top: -34px;
    left: -70px;
  }
  html body main .table-info-block .info-table-row .info-table-row__image_size_big {
    margin-left: 0;
  }
  html body main .table-info-block .info-table-row .info-table-row__image_size_big:before {
    width: 240px;
    height: 88px;
  }
  html body main .table-info-block .info-table-row .info-table-row__image_size_big img {
    width: 240px;
  }
  html body main .table-info-block .info-table-row:not(:last-child) {
    margin-bottom: 65px;
    margin-top: unset;
  }
  html body main .table-info-block .info-table-row:nth-child(odd) p {
    text-align: right;
  }
  html body main .table-info-block .info-table-row .table-text-block .table-text-block__numbers {
    top: -42px;
    font-size: 75px;
  }
  html body main .table-info-block .info-table-row .table-text-block p {
    width: 190px;
    font-size: 18px;
    line-height: 28px;
  }
  html body main .table-info-block .info-table-row .table-text-block p:before {
    width: 244px;
    height: 72px;
    transform: skewX(0deg);
  }
  html body main .table-info-block .info-table-row .table-text-block .second-p {
    width: 161px;
    padding-left: 19px;
  }
  html body main .table-info-block .info-table-row .table-text-block .second-p:before {
    width: 162px;
    left: 22px;
  }
  html body main .table-info-block .info-table-row img {
    position: relative;
    width: 240px;
    z-index: 99;
  }
  html body main .gradient-block .how-it-work-block {
    position: relative;
    padding-bottom: 75px;
    z-index: 9;
  }
  html body main .gradient-block .how-it-work-block .how-it-work-block__tips {
    width: 218px;
    line-height: 20px;
    font-size: 14px;
    font-weight: 300;
    letter-spacing: 0.015em;
    text-align: left;
    margin: 20px 0;
  }
  html body main .gradient-block .how-it-work-block .how-it-work-block__tips .how-it-work-block__tips__vline {
    display: none;
  }
  html body main .gradient-block .how-it-work-block .how-it-work-block__tips.one {
    left: 234px;
    margin-top: 0;
    text-align: left;
  }
  html body main .gradient-block .how-it-work-block .how-it-work-block__tips.one .how-it-work-block__tips__hline {
    right: 241px;
    width: 165px;
  }
  html body main .gradient-block .how-it-work-block .how-it-work-block__tips.one .how-it-work-block__tips__dot {
    left: -28px;
  }
  html body main .gradient-block .how-it-work-block .how-it-work-block__tips.two {
    right: -262px;
    text-align: left;
  }
  html body main .gradient-block .how-it-work-block .how-it-work-block__tips.two .how-it-work-block__tips__vline {
    display: block;
    width: 45px;
    top: 8px;
    left: -113px;
    transform: rotate(40deg);
  }
  html body main .gradient-block .how-it-work-block .how-it-work-block__tips.two .how-it-work-block__tips__hline {
    left: -73px;
    width: 45px;
  }
  html body main .gradient-block .how-it-work-block .how-it-work-block__tips.three {
    left: 234px;
    top: 285px;
    text-align: left;
  }
  html body main .gradient-block .how-it-work-block .how-it-work-block__tips.three .how-it-work-block__tips__hline {
    right: 246px;
  }
  html body main .gradient-block .how-it-work-block .how-it-work-block__tips.three .how-it-work-block__tips__dot {
    left: -28px;
  }
  html body main .gradient-block .how-it-work-block h2 {
    margin: 37px 0 34px 0;
  }
  html body main .gradient-block .how-it-work-block .how-it-work-block__phone-img {
    width: 190px;
    height: 390px;
    right: 127px;
    background-size: cover;
  }
  html body main .gradient-block .how-it-work-block .how-it-work-block__phone-img .how-it-work-block__content-img {
    position: relative;
    width: 173px;
    height: 298px;
    top: -20px;
    right: 5px;
    border: 1px solid;
    box-sizing: border-box;
  }
  html body main .gradient-block .how-it-work-block .how-it-work-block__phone-img .how-it-work-block__phone-shadow {
    width: 170px;
    left: 12px;
  }
  html body main .benefits-block {
    padding-bottom: 90px;
  }
  html body main .benefits-block h2 {
    margin-top: 100px;
    margin-bottom: 15px;
  }
  html body main .benefits-block div {
    flex-flow: column nowrap;
    align-items: center;
  }
  html body main .benefits-block div .benefits-block__info-block {
    min-width: 470px;
    flex-flow: row nowrap;
    margin-bottom: 25px;
  }
  html body main .benefits-block div .benefits-block__info-block .paired-bubbles-effect-block .paired-bubbles__purple-bubbles {
    top: -9px;
    left: 6px;
  }
  html body main .benefits-block div .benefits-block__info-block .paired-bubbles-effect-block .paired-bubbles__blue-bubbles {
    top: 49px;
    left: 51px;
  }
  html body main .benefits-block div .benefits-block__info-block .paired-bubbles-effect-block-rotation2 .paired-bubbles__purple-bubbles {
    top: -104px;
    left: 90px;
  }
  html body main .benefits-block div .benefits-block__info-block .paired-bubbles-effect-block-rotation2 .paired-bubbles__blue-bubbles {
    top: -90px;
    left: -17px;
  }
  html body main .benefits-block div .benefits-block__info-block .benefits-block__info-block__text h6 {
    text-align: left;
    font-size: 16px;
    padding-left: 30px;
  }
  html body main .benefits-block div .benefits-block__info-block .benefits-block__info-block__text p {
    width: 325px;
    font-size: 14px;
    text-align: left;
    margin-right: 0;
  }
  html body main .benefits-block div .benefits-block__info-block .benefits-block__info-block__image {
    width: 85px;
    height: 85px;
    margin: 35px 0 0;
  }
  html body main .benefits-block div .benefits-block__info-block .benefits-block__info-block__image_1 {
    background-position: -208px -77px;
    background-size: 500px 400px;
  }
  html body main .benefits-block div .benefits-block__info-block .benefits-block__info-block__image_2 {
    background-size: 500px 400px;
    background-position: -135px -77px;
  }
  html body main .benefits-block div .benefits-block__info-block .benefits-block__info-block__image_3 {
    background-size: 500px 400px;
    background-position: -135px -77px;
  }
  html body main .benefits-block .benefits-block__form-block {
    display: flex;
    align-items: center;
    flex-flow: column nowrap;
    margin-top: 25px;
  }
  html body main .benefits-block .benefits-block__form-block .form-inputs .nameholder {
    margin-left: 0;
  }
  html body main .benefits-block .benefits-block__form-block .form-inputs #customSelect {
    margin-left: 45px;
  }
  html body main .benefits-block .benefits-block__form-block .form-inputs #customSelect .select-options {
    overflow: hidden;
  }
  html body main .benefits-block .benefits-block__form-block .form-inputs #customSelect .select-options:before {
    left: 20px;
  }
  html body main .benefits-block .benefits-block__form-block .form-inputs #customSelect .select-options span {
    width: 165px;
  }
  html body main .benefits-block .benefits-block__form-block .form-inputs .submit-input a button {
    padding: 23px 15px;
  }
  html body main .benefits-block .benefits-block__form-block input,
  html body main .benefits-block .benefits-block__form-block button {
    margin: 10px 15px;
  }
  html body main .testimonials-block .testimonials-block__video-holder .testimonials-block__video-holder_main .pagination-holder {
    display: flex;
    margin-left: 25px;
  }
  html body main .testimonials-block .testimonials-block__pagination-holder {
    display: none;
  }
  html body main .testimonials-block .testimonials-block__video-holder .left-last,
  html body main .testimonials-block .testimonials-block__video-holder .right-last,
  html body main .testimonials-block .testimonials-block__video-holder .left-first,
  html body main .testimonials-block .testimonials-block__video-holder .right-first {
    display: none;
  }
  html body main .testimonials-block .testimonials-block__video-holder .testimonials-block__video-holder_main #watchVideo2 .play-button-block {
    /*top: 125px;
									left: 10px;*/
  }
  html body main .testimonials-block .testimonials-block__video-holder .testimonials-block__video-holder_main #watchVideo2 .play-button-block .tes-block {
    left: -6px;
    top: -6px;
    width: 65px;
    height: 65px;
  }
  html body main .testimonials-block .testimonials-block__video-holder .testimonials-block__video-holder_main #watchVideo2 .play-button-block .tes-block:before {
    left: -6px;
    top: -6px;
    width: 75px;
    height: 75px;
  }
  html body main .testimonials-block .testimonials-block__video-holder .testimonials-block__video-holder_main #watchVideo2 .play-button-block span {
    width: 55px;
    height: 55px;
  }
  html body main .testimonials-block .testimonials-block__video-holder .testimonials-block__video-holder_main #watchVideo2 .play-button-block span:before {
    width: 18px;
    height: 18px;
    top: 19px;
    left: 16px;
  }
  html body main .testimonials-block .testimonials-block__video-holder .testimonials-block__video-holder_main #watchVideo2 .play-button-block span:after {
    left: 8px;
    top: 10px;
  }
  html body main .testimonials-block .testimonials-block__video-holder .testimonials-block__video-holder_main #watchVideo2 img {
    width: 460px;
  }
  html body main .news-block h2 {
    margin-top: 100px;
  }
  html body main .news-block .break-line-block {
    margin-top: -50px;
  }
  html body main .news-block .news-block__holder {
    flex-flow: column wrap;
    align-items: center;
    text-align: center;
    flex-flow: column;
  }
  html body main .news-block .news-block__holder .video-holder__video {
    margin-top: 15px;
  }
  html body main .news-block .news-block__holder .video-holder__video .pagination-holder {
    margin-left: 10px;
  }
  html body main .news-block .news-block__holder .video-holder__video #watchVideo3 img {
    height: 330px;
    width: 500px;
  }
  html body main .news-block .news-block__holder .video-holder__video #watchVideo3 .play-button-block {
    top: 90px;
  }
  html body main .news-block .news-block__holder .video-holder__video #watchVideo3 .play-button-block .vid-block {
    left: -6px;
    top: -6px;
    width: 65px;
    height: 65px;
  }
  html body main .news-block .news-block__holder .video-holder__video #watchVideo3 .play-button-block .vid-block:before {
    left: -6px;
    top: -6px;
    width: 75px;
    height: 75px;
  }
  html body main .news-block .news-block__holder .video-holder__video #watchVideo3 .play-button-block span {
    width: 56px;
    height: 56px;
    top: 50px;
    left: 5px;
  }
  html body main .news-block .news-block__holder .video-holder__video #watchVideo3 .play-button-block span:after {
    width: 16px;
    height: 30px;
    top: 14px;
    left: 7px;
  }
  html body main .news-block .news-block__holder .video-holder__video #watchVideo3 .play-button-block span:before {
    width: 20px;
    height: 20px;
    top: 18px;
    left: 15px;
  }
  html body .footer-block {
    background: linear-gradient(180deg, #049999 30%, #0e3dc1 100%);
  }
  html body .footer-block .footer-block__footer-wraper {
    align-items: center;
    text-align: center;
    flex-flow: column;
    height: auto;
  }
  html body .footer-block .footer-block__footer-wraper .footer-block__flex-section.footer-block__flex-section_flex-flow_reverse {
    flex-flow: column-reverse;
  }
  html body .footer-block .footer-block__footer-wraper .footer-block__flex-section.footer-block__flex-section_flex-flow_reverse h4 {
    margin: 25px 0 0;
  }
  html body .footer-block .footer-block__footer-wraper .footer-block__flex-section h4 {
    margin: 50px 0 0;
  }
  html body .footer-block .footer-block__footer-wraper .footer-block__flex-section .footer-block__form form {
    display: flex;
    flex-flow: column;
    align-items: center;
  }
  html body .footer-block .footer-block__footer-wraper .footer-block__flex-section .footer-block__form form input {
    margin: 10px 0;
  }
  html body .footer-block .footer-block__footer-wraper .footer-block__flex-section .footer-block__form form button {
    margin-top: 10px;
  }
  html body .footer-block .footer-block__footer-wraper .footer-block__flex-section .footer-block__connect {
    margin-right: 0;
  }
  html body .footer-block .footer-block__footer-wraper .footer-block__flex-section .footer-block__connect h4 {
    margin-top: 53px;
  }
}
#signupPage .science-block .science-block_holder {
  padding-bottom: 100px;
}
@media screen and (max-width: 1024px) {
  html body main .gradient-block.order-block {
    background-image: linear-gradient(45deg, #5b84f8 0%, #28e3e3 100%);
  }
  html body main .gradient-block.order-block .order-block-wrapper .order-block-wrapper__order-block .order-block-flex-holder .flex-holder__order-wrapper {
    flex-flow: column;
  }
  html body main .gradient-block.order-block .order-block-wrapper .order-block-wrapper__order-block .order-block-flex-holder .flex-holder__order-wrapper #images {
    width: 450px;
  }
  html body main .gradient-block.order-block .order-block-wrapper .order-block-wrapper__order-block .order-block-flex-holder .flex-holder__order-wrapper #images .order__img {
    height: 354px;
  }
  html body main .gradient-block.order-block .order-block-wrapper .order-block-wrapper__order-block .order-block-flex-holder .flex-holder__order-wrapper .order__img-block {
    width: 450px;
    margin-right: 0;
    height: 354px;
  }
  html body main .gradient-block.order-block .order-block-wrapper .order-block-wrapper__order-block .order-block-flex-holder .flex-holder__order-wrapper .order__img-block #leftArrow {
    top: 150px;
  }
  html body main .gradient-block.order-block .order-block-wrapper .order-block-wrapper__order-block .order-block-flex-holder .flex-holder__order-wrapper .order__img-block #rightArrow {
    top: 150px;
  }
  html body main .gradient-block.order-block .order-block-wrapper .order-block-wrapper__order-block .order-block-flex-holder .flex-holder__order-wrapper .order__img-block:before {
    width: 430px;
  }
  html body main .gradient-block.order-block .order-block-wrapper .order-block-wrapper__order-block .order-block-flex-holder .flex-holder__order-wrapper .order__img-block:after {
    width: 410px;
  }
  html body main .gradient-block.order-block .order-block-wrapper .order-block-wrapper__order-block .order-block-flex-holder .flex-holder__order-wrapper .order-wrapper__order {
    flex-flow: column wrap;
    width: 460px;
  }
  html body main .gradient-block.order-block .order-block-wrapper .order-block-wrapper__order-block .order-block-flex-holder .flex-holder__order-wrapper .order-wrapper__order .order__text-block h2 {
    margin-top: 40px;
    line-height: 68px;
  }
  html body main .gradient-block.order-block .order-block-wrapper .order-block-wrapper__order-block .order-block-flex-holder .flex-holder__order-wrapper .order-wrapper__order .order__text-block h2 span {
    display: block;
  }
  html body main .gradient-block.order-block .order-block-wrapper .order-block-wrapper__order-block .order-block-flex-holder .flex-holder__order-wrapper .order-wrapper__order .order__text-block p {
    font-size: 16px;
  }
  html body main .gradient-block.order-block .order-block-wrapper .order-block-wrapper__order-block .order-block-flex-holder .flex-holder__order-wrapper .order-wrapper__order .order__select-block {
    flex-flow: row wrap;
  }
  html body main .gradient-block.order-block .order-block-wrapper .order-block-wrapper__order-block .order-block-flex-holder .flex-holder__order-wrapper .order-wrapper__order .order__select-block #plus {
    margin-right: 120px;
  }
  html body main .gradient-block.order-block .order-block-wrapper .order-block-wrapper__order-block .order-block-flex-holder .flex-holder__order-wrapper .order-wrapper__order .order__select-block .select-option-color {
    margin-top: 30px;
  }
  html body main .gradient-block.order-block .order-block-wrapper .order-block-wrapper__order-block .order-block-flex-holder .flex-holder__order-wrapper .order-wrapper__order .order__select-os .os-block {
    margin: 40px 12.5px;
  }
  html body main .gradient-block.order-block .order-block-wrapper .order-block-wrapper__order-block .order-block-flex-holder .flex-holder__logo-block {
    flex-flow: row wrap;
    width: 445px;
    height: 175px;
    justify-content: space-between;
    margin-top: 70px;
  }
  html body main .gradient-block.order-block .order-block-wrapper .order-block-wrapper__order-block .order-block-flex-holder .flex-holder__logo-block .logo-block__benefits {
    width: 200px;
  }
  html body main .gradient-block.order-block .order-block-wrapper .order-block-wrapper__order-block .order-block-flex-holder .flex-holder__logo-block .logo-block__benefits .logo-holder {
    justify-content: center;
    height: 42px;
  }
  html body main .gradient-block.order-block .order-block-wrapper .order-block-wrapper__order-block .order-block-flex-holder .flex-holder__logo-block .logo-block__benefits:first-child {
    width: 200px;
  }
  html body main .gradient-block.order-block .order-block-wrapper .order-block-wrapper__order-block .order-block-flex-holder .flex-holder__logo-block .logo-block__benefits:first-child .logo-holder img {
    padding: 0 6px;
  }
  html body main .gradient-block.order-block .order-block-wrapper .order-block-wrapper__order-block .order-block-flex-holder .flex-holder__logo-block .logo-block__benefits:last-child {
    width: 200px;
  }
  html body main .gradient-block.order-block .order-block-wrapper .order-block-wrapper__order-block .order-block-flex-holder .flex-holder__logo-block .logo-block__benefits:last-child p {
    line-height: 41px;
  }
  html body main .gradient-block.order-block .order-block-wrapper .order-block-wrapper__order-block .order-block-flex-holder .flex-holder__quote-block {
    margin-top: 10px;
  }
  html body main .gradient-block.order-block .order-block-wrapper .order-block-wrapper__order-block .order-block-flex-holder .flex-holder__quote-block p:first-child {
    font-size: 16px;
  }
  html body main .gradient-block.order-block .order-block-wrapper .order-block-wrapper__order-block .order-block-flex-holder .flex-holder__quote-block p:last-child {
    font-size: 14px;
  }
  html body main .dimensions-block {
    position: relative;
    z-index: 1;
  }
  html body main .dimensions-block .rectangle_effect {
    display: block;
    position: absolute;
    width: 100%;
    height: 162px;
    top: -150px;
    left: 19px;
    background-color: #cddbfd;
    transform: rotate(4deg);
    z-index: 0;
  }
  html body main .dimensions-block .rectangle_effect:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: -5px;
    right: 12px;
    background-color: #aac3fb;
    transform: rotate(-2deg);
    z-index: 0;
  }
  html body main .dimensions-block h2 {
    font-size: 40px;
    letter-spacing: 0.04em;
    margin: 50px 0 30px;
  }
  html body main .dimensions-block .dimensions-block__flex-holder {
    flex-flow: column;
  }
  html body main .dimensions-block .dimensions-block__flex-holder .flex-holder__watch-block {
    justify-content: center;
  }
  html body main .dimensions-block .dimensions-block__flex-holder .flex-holder__watch-block .watch-block__image-holder img {
    width: 450px;
  }
  html body main .dimensions-block .dimensions-block__flex-holder .flex-holder__watch-block .watch-block__line-holder {
    margin-bottom: 35px;
  }
  html body main .dimensions-block .dimensions-block__flex-holder .flex-holder__watch-block .watch-block__line-holder .line-holder__line {
    line-height: 34px;
    border-top: 1px solid #d7d7d7;
    border-bottom: 0 solid #fff;
  }
  html body main .dimensions-block .dimensions-block__flex-holder .flex-holder__watch-block .watch-block__line-holder .line-holder__medium-line {
    width: 145px;
  }
  html body main .dimensions-block .dimensions-block__flex-holder .flex-holder__watch-block .watch-block__line-holder .line-holder__medium-line:before {
    top: -8px;
  }
  html body main .dimensions-block .dimensions-block__flex-holder .flex-holder__watch-block .watch-block__line-holder .line-holder__small-line {
    width: 62px;
  }
  html body main .dimensions-block .dimensions-block__flex-holder .flex-holder__watch-block .watch-block__line-holder .line-holder__small-line:before,
  html body main .dimensions-block .dimensions-block__flex-holder .flex-holder__watch-block .watch-block__line-holder .line-holder__small-line:after {
    top: -8px;
  }
  html body main .dimensions-block .dimensions-block__flex-holder .flex-holder__watch-block .watch-block__line-holder .line-holder__big-line {
    width: 220px;
  }
  html body main .dimensions-block .dimensions-block__flex-holder .flex-holder__watch-block .watch-block__line-holder .line-holder__big-line:after {
    top: -8px;
  }
  html body main .dimensions-block .dimensions-block__flex-holder .flex-holder__traits-block {
    flex-flow: row wrap;
    width: 460px;
    justify-content: space-around;
  }
  html body main .dimensions-block .dimensions-block__flex-holder .flex-holder__traits-block .traits-block__traits {
    width: 215px;
    font-size: 16px;
  }
  html body main .specifications-block .specifications-block__header {
    margin: -50px 0 -20px;
  }
  html body main .specifications-block .specifications-block__content-holder {
    flex-flow: column nowrap;
    text-align: justify;
  }
}
@media screen and (min-width: 1024px) and (max-width: 1175px) {
  html body .navigation-block .navigation-block__links .order-button-block {
    margin: 0 30px;
  }
  html body .footer-block .footer-block__footer-wraper .footer-block__flex-section .footer-block__connect {
    min-width: 275px;
    margin-right: 40px;
  }
  html body .footer-block .footer-block__footer-wraper .footer-block__flex-section {
    width: 350px;
  }
}
@media screen and (min-width: 1025px) and (max-width: 1175px) {
  html body main .gradient-block.order-block .order-block-wrapper .order-block-wrapper__order-block .order-block-flex-holder .flex-holder__order-wrapper .order__img-block {
    width: 490px;
    height: 384px;
    margin-right: 30px;
  }
  html body main .gradient-block.order-block .order-block-wrapper .order-block-wrapper__order-block .order-block-flex-holder .flex-holder__order-wrapper .order-wrapper__order {
    width: 500px;
  }
  html body main .gradient-block.order-block .order-block-wrapper .order-block-wrapper__order-block .order-block-flex-holder .flex-holder__order-wrapper .order-wrapper__order .order__text-block h2 {
    font-size: 51px;
  }
  html body main .gradient-block.order-block .order-block-wrapper .order-block-wrapper__order-block .order-block-flex-holder .flex-holder__order-wrapper .order-wrapper__order .order__text-block p {
    font-size: 16px;
  }
  html body main .gradient-block.order-block .order-block-wrapper .order-block-wrapper__order-block .order-block-flex-holder .flex-holder__order-wrapper .order-wrapper__order .order__select-block #price {
    margin-right: 15px;
  }
  html body main .gradient-block.order-block .order-block-wrapper .order-block-wrapper__order-block .order-block-flex-holder .flex-holder__order-wrapper .order-wrapper__order .order__select-block #plus {
    margin-right: 15px;
  }
}